/*--------------------------------------------
* PRICE CSS TWO
--------------------------------------------*/
.cdx-price-card-2 {
    position: relative;
    background-color: var(--gray-8);
    overflow: hidden;
    transition: var(--transition);

    &:hover {
        .cdx-btn-white {
            background-color: var(--dark);
            color: var(--white);
        }

        .cdx-icon {
            filter: brightness(1);
        }
    }

    .cdx-price-heding {
        padding: 40px 30px 25px;

        .cdx-title {
            padding-top: 20px;
            line-height: 1;
            color: var(--dark);
            font-family: var(--font-roboto);
            font-size: 20px;
            font-weight: 500;
        }

        .cdx-subtitle {
            color: #6C7277;
            font-family: var(--font-roboto);
            font-size: 16px;
            font-weight: 500;
            line-height: 26px;
        }
    }

    .cdx-icon {
        filter: brightness(0);
    }

    .cdx-btn-radius {
        transition: var(--transition);
    }

    .cdx-price {
        color: var(--red);
        font-family: var(--font-roboto);
        font-size: 40px;
        font-weight: 700;
        line-height: 1;
        border-top: 1px solid #03061114;
        border-bottom: 1px solid #03061114;
        display: block;
        width: 100%;
        padding: 15px 30px;
        margin: 0;

        @media #{$lg} {
            font-size: 45px;
            padding: 40px;
        }
    }

    .cdx-btn-white {
        background-color: #DAD8D3;
    }

    .cdx-details {
        border-radius: 0px 0px 10px 10px;
        padding: 45px 30px 55px;

        @media #{$lg} {
            padding: 35px 20px 40px;
        }
    }

    .cdx-list-style-1 {
        padding-bottom: 40px;

        @media #{$lg} {
            padding-bottom: 20px;
        }
    }

    .cdx-list-item {
        color: #6C7277;
        font-family: var(--font-roboto);
        font-size: 15px;
        font-weight: 500;
        padding-bottom: 20px;
    }
}