/*--------------------------------------------
* SHOP DETAIL CSS
--------------------------------------------*/
.cdx-product-thumb-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white-2);
    margin-bottom: 20px;
    margin-right: 75px;
    @media #{$lg} {
        margin-right: 0px;
    }
}
.cdx-produt-gallery  {
    margin-right: 75px;
    @media #{$lg} {
        margin-right: 0px;
    }
}
.cdx-product-thumb-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px; 
}
.cdx-product-gallery-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: var(--white-2);
    height: 120px;
}

.cdx-shop-detail-content {
    .cdx-section-title {
        font-size: 40px;
        padding-top: 10px;
         @media #{$sm} {
            font-size: 30px;
         }
    }
    .cdx-subtitle {
        color: var(--dark); 
        font-size: 20px; 
        font-weight: 500; 
        background-color: var(--sky-1);
        padding: 20px 30px; 
    }
    .cdx-price {
        color: var(--dark); 
        font-size: 30px; 
        font-weight: 600; 
        @media #{$sm} {
            font-size: 25px;
        }
    }
    .cdx-offer-price {
        color: var(--red);
        padding-left: 13px;
    }
    .cdx-product-status {
        color: #589B66; 
        font-size: 16px; 
        font-weight: 500; 
    }
    .cdx-features {
        .cdx-list {
            color: #55585B; 
            font-size: 16px; 
            font-weight: 400; 
            padding-bottom: 8px;
            &:last-child {
                padding-bottom: 0px;
            }
            .cdx-highlight-text {
                color: var(--dark);
            }
        }
    }
    .cdx-share-title {
        color: var(--dark); 
        font-size: 20px; 
        font-weight: 500; 
    }
}

  .cdx-social-share {
    display: flex;
    align-items: center;
    gap: 10px;
    .cdx-share-link {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        background-color: #ECEDE3;
        transition: var(--transition);
        &:hover {
            background-color: var(--primary);
            .cdx-icon {
                filter: brightness(0);
            }
        }
    }
}

.cdx-product-detail-item {
    padding-bottom: 60px;
    @media #{$sm} {
        padding-bottom: 40px;
    }
    &:last-child {
        padding-bottom: 0px;
    }
    .cdx-subtitle {
        color: var(--dark); 
        font-size: 20px; 
        font-weight: 500; 
        background-color: var(--sky-1);
        padding: 20px 30px; 
        margin-bottom: 30px;
        @media #{$sm} {
            margin-bottom: 20px;
        }
    }
    .cdx-additional-wrap {
        .cdx-additional-list {
            display: grid;
            grid-template-columns: 71px auto;
            gap: 80px;
            color: var(--gray); 
            font-size: 16px; 
            font-weight: 500; 
            padding-left: 20px;
            position: relative;
            padding-bottom: 30px;
            @media #{$sm} {
                gap: 15px;
                padding-bottom: 20px;
            }
            &:last-child {
                padding-bottom: 0px;
            }
            &::before {
                position: absolute;
                top: 8px;
                left: 0px;
                width: 5px;
                height: 5px;
                background-color: var(--red);
                content: ""; 
                border-radius: 50%;
            }  
        }
        .cdx-highlight-text {
            color: var(--dark); 
            font-size: 16px; 
            font-weight: 500; 
        }
    }
}


.cdx-product-review-item {
    display: grid;
    grid-template-columns: 60px auto;
    gap: 16px;
    margin-bottom: 30px;
    position: relative;
    max-width: 725px;
    @media #{$xxs} {
       grid-template-columns: 1fr; 
    }
    @media #{$md} {
       max-width: 100%; 
    }
    &:last-child {
        margin-bottom: 0px;
    }
    .cdx-avtar-wrap {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        overflow: hidden;
    }
    .cdx-avatar {
        width: auto;
        height: 100%;
    }
    .cdx-comment-review {
        position: absolute;
        top: 30px;
        right: 30px;
    }
    .cdx-details {
        padding-top: 10px;
    }
    .cdx-name {
        color: var(--dark); 
        font-size: 20px; 
        font-weight: 500; 
        line-height: 1;
        padding-bottom: 8px;
    }
    .cdx-time {
        color: var(--gray); 
        font-size: 16px; 
        font-weight: 500; 
        padding-bottom: 15px;
    }
}

.cdx-comment-form.cdx-style-2 {
    max-width: 725px;
    padding-top: 25px;
    @media #{$md} {
        max-width: 100%;
    }
    .textarea {
        min-height: 170px;
        @media #{$sm} {
            min-height: 100px;
        }
    }
    .cdx-btn-primary { 
        padding: 12px 52px; 
    }
    .cdx-rating-text {
        color: var(--dark); 
        font-size: 16px; 
        font-weight: 500; 
    }
}

.cdx-icon-wishlist {
    width: 50px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #021D3510;
    cursor: pointer;
}

.cdx-btn-add-cart {
    color: var(--white); 
    font-size: 15px; 
    font-weight: 500; 
    background-color: #0989FF;
    padding: 14px 35px;
    transition: var(--transition);
     @media #{$sm} {
        font-size: 14px;
        padding: 12px 18px;
     }
    &:hover {
        background-color: var(--primary);
        color: var(--dark);
    }
}
.cdx-btn-buy-now {
    color: var(--white); 
    font-size: 15px; 
    font-weight: 500; 
    background-color: var(--dark);
    padding: 14px 35px;
    transition: var(--transition);
    @media #{$sm} {
        font-size: 14px;
        padding: 12px 18px;
    }
    &:hover {
        color: var(--dark);
        background-color: var(--primary);
    }
}

// quantity-box-2
.cdx-quantity-box-2 {
    border: 2px solid rgba(2, 29, 53, 0.10);
    background-color: var(--white);
    max-width: 90px;
    display: flex;
    .cdx-icon-wrap { 
        padding-left: 12px;
        padding-right: 12px;
        border-left: 2px solid rgba(2, 29, 53, 0.10);
    }
    .cdx-cart-input {
        max-width: 50px;
        border: 0;
        outline: 0;
        display: block;
        width: 100%;
        padding: 10px 17px;
        background-color: transparent;
        &::placeholder {
            color: var(--dark); 
            font-size: 14px; 
            font-weight: 500; 
        }
        &:focus {
            outline: 0;
            border: 0;
        }
    }
}