/*--------------------------------------------
* SECTION cdx-title CSS
--------------------------------------------*/


.cdx-section-heading {
    margin-bottom: 42px;
    position: relative;
    z-index: 2; 
    @media #{$lg}{
        margin-bottom: 20px;
    }
}

.cdx-section-title {
    color: var(--dark);
    font-size: 56px;
    margin-bottom: 15px;
    font-weight: 700; 
    line-height: 1.2;
    @media #{$xl}{
        font-size: 50px;
    }
    @media #{$lg}{
        font-size: 35px;
    }
    @media #{$sm}{
        font-size: 30px;
    }
    .cdx-title-mark {
        color: #B6A77E;
    }
}

.cdx-heading-text-slider {
    .swiper-wrapper {
        transition-timing-function: linear;
    }
    .swiper-slide {
        width: auto !important;
    }
    .cdx-large-title {
        font-size: 200px;
        font-weight: 800;
        color: var(--white-2);
        line-height: 1;
        text-transform: uppercase;
        @media #{$xxl}{
            font-size: 150px;
        }
        @media #{$xl}{
            font-size: 130px;
        }
        @media #{$lg}{
            font-size: 110px;
        }
        @media #{$md}{
            font-size: 90px;
        }
        @media #{$sm}{
            font-size: 55px;
            font-weight: 700;
        }
        @media #{$xs}{
            font-size: 35px;
        }
    }
}

//stoke-title-large
.cdx-stoke-title-large {
    text-align: center;
    color: #03061120;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #03061120;
    font-size: 180px;
    font-weight: 800;
    line-height: 1;
    @media #{$xxl}{
        font-size: 130px;
    }
    @media #{$lg}{
        font-size: 95px;
    }
    @media #{$md}{
        font-size: 70px;
    }
    @media #{$sm}{
        font-size: 40px;
    }
}

.cdx-section-title-3 {
    color: var(--dark);
    font-family: var(--font-montserrat);
    font-size: 40px; 
    font-weight: 600;
    line-height: 1.2;
    text-transform: uppercase;
     @media #{$md}{
        font-size: 36px;
    }
    @media #{$sm}{
        font-size: 32px;
    }
}

.cdx-section-title-lg{
    color: var(--dark); 
    font-size: 40px; 
    font-weight: 700;
    line-height: 1.2; 
    @media #{$lg} { 
        font-size: 36px;
    }
    @media #{$sm} { 
        font-size: 30px;
    }
}

.cdx-section-title-md{
    color: var(--dark); 
    font-size: 30px; 
    font-weight: 600;
    line-height: 1.2; 
    @media #{$sm} { 
        font-size: 26px;
    }
}

.cdx-section-title-sm {
    color: var(--dark);
    font-family: var(--font-montserrat);
    font-size: 24px; 
    font-weight: 600;
    line-height: 1.2;
    text-transform: uppercase; 
}


.cdx-section-content {
    color: var(--gray);
    font-size: 16px; 
    font-weight: 500; 
    line-height: 1.5;
}