/*--------------------------------------------
* ROLLSLIDER CSS TWO
--------------------------------------------*/
.cdx-rollslider-area-2 {
    background-color: #FDFF30;
    padding: 20px 0px;
    .swiper-wrapper {
        transition-timing-function: linear;
    }
}
.cdx-rollslide-2 {
    display: flex;
    align-items: center;
    gap: 24px;
    width: auto !important;
    .cdx-title {
        color: #030611;
        font-size: 30px;
        font-weight: 600;
        @media #{$xxl} {
            font-size: 21px;
        }
    }
}