/*--------------------------------------------
* HERO CSS TEN
--------------------------------------------*/

.cdx-hero-area-10 { 
    padding: 40px 0px 200px 90px;
    @media #{$xxl} {
      padding: 40px 0px 200px 15px;  
    }
    @media #{$lg} {
        padding: 40px 0px 150px 10px;
    }
    @media #{$md} {
         padding: 40px 0px 80px 10px;
    }
    .cdx-right {
        text-align: right;
    }
    .cdx-subtitle {
        color: #FE7535;
        font-size: 15px;
        font-weight: 500;
        background-color: var(--white);
        padding: 4px 9px 4px 18px;
        position: relative;
        &::before {
            position: absolute;
            top: 9px;
            left: 7px;
            width: 6px;
            height: 6px;
            background-color: #FE7535;
            border-radius: 100px;
            content: "";
        }
    }
    .cdx-hero-title {
        color: var(--dark); 
        font-size: 80px; 
        font-weight: 800; 
        line-height: 1.1;
        display: inline-block;
        padding: 30px 0px 20px;
        @media #{$xxl} {
         font-size: 60px;
        }
        @media #{$lg} {
         font-size: 44px;
        }
        @media #{$md} {
            padding: 20px 0px 10px; 
        }
        @media #{$sm} {
            font-size: 40px;
        }
        
    }
    .cdx-content {
        color: var(--gray);
        font-size: 16px;
        font-weight: 500; 
        padding: 0px 70px 40px 0px;
        @media #{$md} {
            padding: 0px 70px 20px 0px;
        }
    }
    .cdx-meta { 
        border-bottom: 1px solid #03061110; 
        padding-bottom: 10px; 
        .cdx-link {
            display: flex;
            align-items: center;
            gap: 8px;
            color: var(--dark); 
            font-size: 15px; 
            font-weight: 500; 
            transition: var(--transition);
            &:hover {
                color: #FE7535;
            }
        }
    }
    .cdx-main-wrap {
        padding-top: 120px;
        @media #{$md} {
            padding-top: 80px;
        }
    }
}