
/*--------------------------------------------
* HERO CSS EIGHT
--------------------------------------------*/

.cdx-hero-area-8 {
    overflow: hidden;
    position: relative;   
    padding: 190px 0px 200px 160px;
    @media #{$xl} {
       padding: 150px 0px 150px 15px; 
    }
    @media #{$sm} {
       padding: 60px 0px 150px 15px; 
    }
    &::before {
        position: absolute;
        top: 0px;
        left: -33%;
        width: 1700px;
        height: 1700px; 
        border-radius: 50%;
        background-color: rgba(4, 41, 86, 0.86);
        filter: blur(200px);
        content: ""; 
    }
    &::after {
        position: absolute;
        top: -45%;
        right: -7%; 
        width: 674px;
        height: 674px;
        border-radius: 50%; 
        background: rgba(24, 52, 189, 0.90);
        filter: blur(200px);
        content: ""; 
    }
}

.cdx-hero-slider-4 {
    padding-top: 10px;
    @media #{$sm} {
        padding-bottom: 100px;
    }
    .cdx-section-subtext-2 {
        margin-bottom: 12px;
    }
}

.cdx-hero-slide-4 { 
    position: relative;  
    .cdx-title {
        color: var(--white); 
        font-size: 100px; 
        font-weight: 900; 
        line-height: 1.2;
        position: relative;
        z-index: 99;
        padding-right: 31%;
        @media #{$xxxl} {
            padding-right: 46%;
        }
        @media #{$xxl} {
           font-size: 60px;
        }
        @media #{$lg} {
           font-size: 50px;
        }
        @media #{$md} {
           font-size: 40px;
        }
        @media #{$sm} {
            font-size: 30px;
            padding-right: 0%;
        }
    }
    .cdx-content {
        color: rgba(255, 255, 255, 0.50); 
        font-size: 20px;
        font-weight: 500;
        position: relative;
        z-index: 99;
        max-width: 800px;
        padding: 10px 0px 55px; 
        @media #{$md} {
            font-size: 16px;
            max-width: 50%;
            padding: 10px 0px 35px; 
        }
        @media #{$sm} {
            max-width: 100%;
        }
        
    }
    .cdx-btn-primary {
        z-index: 99;
        background-color: var(--red-2);
        color: var(--white);
    }
}


.cdx-section-subtext-2 {
    color: var(--yellow-3); 
    font-size: 15px; 
    font-weight: 500;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(255, 255, 255, 0.07);
    backdrop-filter: blur(1px); 
    padding: 8px 20px 8px 30px;
    display: inline-block;
    position: relative;
    &::before {
        position: absolute;
        top: 16px;
        left: 14px;
        width: 6px;
        height: 6px;
        background-color: var(--yellow-3);
        border-radius: 100px;
        content: "";
    }
}

.cdx-hero-thumb-slide-4 {
    .cdx-content {
        color: #ffffff60; 
        font-size: 20px; 
        font-weight: 400; 
        padding-bottom: 10px;
        padding-right: 100px;
        @media #{$md} {
            font-size: 16px;
            padding-right: 60px;
        }
    }
}

.cdx-hero-slider-wrap {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgba(255, 255, 255, 0.14);
    background-color: rgba(4, 41, 86, 0.70);
    backdrop-filter: blur(45px);
    padding: 0px 50px;
    position: absolute;
    bottom: 0%;
    right: 0%;
    z-index: 99;
    max-width: 535px;
    @media #{$md} {
        max-width: 460px;
    }
    @media #{$xxs} {
        max-width: 97vw;
    }
    .cdx-navigation-style-5 {  
        justify-content: flex-start; 
        gap: 10px;
        align-items: flex-end;
        flex-direction: column;   
    }
    .cdx-btn-navigation {
        background-color: #ffffff10;
        &:hover {
            background-color: var(--red-2);
        }
        .cdx-icon {
            filter: invert(1);
        }
    }
    .hero-cdx-thumb-right {
        padding: 30px 0px; 
         position: relative;
        &::before {
            position: absolute;
            top: 0px;
            left: -50px;
            width: 1px;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.14);
            content: "";
        }
    }
    .cdx-fraction-pagination {
        font-size: 14px;
        font-weight: 400;
        color: var(--white);
        padding-top: 20px;
        padding-left: 5px;
    }
}