/*--------------------------------------------
* HERO CSS NINE
--------------------------------------------*/

.cdx-hero-area-9 { 
    padding: 100px 0px 30px;  
    @media #{$sm} {
        padding: 70px 0px 30px;  
    }
    .cdx-wrap-1 {
        padding-left: 130px;
        @media #{$xl} {
            padding-left: 15px;
        }
    }
    .cdx-wrap-2 {
        padding-left: 15px;
        @media #{$md} {
            padding: 0 15px 30px;
        }
    
       .cdx-title-2 { 
            @media #{$md} {
                margin-top: 25px;
            }
        }
    }
    .cdx-wrap-3 {
        padding: 0px 120px 0px 160px;
        margin-top: -15px;
        @media #{$xxl} {
            padding: 0px 50px 0px 50px;
        }
        @media #{$xl} {
            padding: 15px;
        }
        .cdx-title-2 { 
            margin-top: -18px;
            @media #{$md} {
                margin-top: 0;
            }
        }
    }
    .cdx-banner-img {
        transform: translate(0px, 17px);
        @media #{$md} {
            transform: translate(0px, 0px);
            padding: 20px 0px 10px; 
        }
        @media #{$sm} {
         padding: 20px 0px 0px; 
        }
    }
    
    .cdx-plane-icon  {
        position: absolute;
        right: 297px;
        bottom: 75px; 
        @media #{$xxl} {
            right: 230px;
        }
        @media #{$lg} {
            display: none;
        }
        
    }
    .cdx-arrow-top {
        margin-left: 60px;
        @media #{$lg} {
            margin-left: 35px;
        }
        @media #{$md} {
            display: none;
        }
    }
    .cdx-title-1 {  
        color: #FDBA4F;
        font-size: 260px; 
        font-weight: 900;
        line-height: 0.9;
        font-family: var(--font-roboto);
        text-transform: uppercase;  
        background-image: url(../images/home-9/bg/hero-text-bg.webp);
        background-repeat: no-repeat;  
        background-size: 100% 100%;
        -webkit-background-clip: text; 
        background-clip: text;
        -webkit-text-fill-color: transparent;
        filter: contrast(1) drop-shadow(15px 11px 0px rgb(3, 65, 65)); 
        @media #{$xxl} {
            font-size: 200px;
        }
        @media #{$xl} {
            font-size: 180px;
        }
        @media #{$lg} {
            font-size: 150px;
        }
        @media #{$sm} {
            font-size: 70px;
        }
        @media #{$sm} {
            font-size: 70px;
            filter: contrast(1) drop-shadow(7px 2px 0px rgb(3, 65, 65));
        }
         
    }
    
    .cdx-title-2 {
        color: rgba(3, 65, 65, 0.10); 
        -webkit-text-stroke: 1px var(--green);
        -webkit-text-fill-color: #e6ecec; 
        font-size: 200px; 
        font-weight: 900; 
        line-height: 1;
        text-transform: uppercase;
        @media #{$xxl} {
            font-size: 150px;
        }
        @media #{$lg} {
            font-size: 100px;
        }
        @media #{$md} {
            font-size: 70px;
        }
        @media #{$sm} {
            font-size: 50px;
        }
        
    }
    .cdx-content {
        @media #{$md} {
            padding-bottom: 20px;
        }
        @media #{$sm} {
            font-size: 16px;
            padding-bottom: 15px;
        }
    }
    .cdx-subtext {
        color: #030611; 
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        @media #{$sm} {
            font-size: 16px;
        }
    }
}
