/*--------------------------------------------
* HERO CSS SEVEN
--------------------------------------------*/

.cdx-hero-area-7 {
    position: relative;
    background: #FFF4D4;
    margin-top: -112px;
    @media #{$sm} {
        margin-top: -140px;
    }
    .cdx-shapes {
        @media #{$lg} {
            display: none;
        }
    }

    .cdx-shape-1 {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }

    .cdx-shape-2 {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;

    }

    .cdx-shape-3 {
        position: absolute;
        z-index: 2;
        left: 49%;
        top: 37%;
    }

    .cdx-main-content {
        position: relative;
        z-index: 99;
        padding: 220px 300px 120px 315px;
        padding-left: 300px;

        @media #{$xxl} {
            padding: 220px 110px 120px 90px;
        }

        @media #{$xl} {
            padding: 220px 130px 120px 90px;
        }

        @media #{$lg} {
            padding: 220px 15px 120px 20px;
        }

    }

    .cdx-image {
        border-radius: 10px;
        position: absolute;
        right: 304px;
        top: 280px;

        @media #{$xxl} {
            right: 80px;
        }

        @media #{$lg} {
            display: none;
        }
    }

    .cdx-image-2 {
        margin: 0 auto;
        text-align: center;
    }
}

.cdx-pl-110 {
    padding-left: 110px;

    @media #{$lg} {
        padding-left: 0;
    }
}

.cdx-pt-15 {
    padding-top: 15px;
}

.cdx-heading-area {
    position: relative;

    .cdx-hero-title {
        color: #B6A77E;
        font-size: 100px;
        font-weight: 500;
        line-height: 120px;
        padding-right: 20px;

        @media #{$xl} {
            font-size: 90px;
        }

        @media #{$lg} {
            font-size: 60px;
            line-height: 1;
        }

        @media #{$md} {
            font-size: 40px;
        }
    }

    .cdx-subtitle {
        color: var(--dark);
    }
}

.cdx-cta-info-area {
    padding: 44px 37px;
    border-radius: 10px;
    background: #EBE0C0;
    margin-top: 20px;

    .cdx-title {
        color: var(--dark);
        font-size: 20px;
        font-weight: 700;
        line-height: 17px;
        padding-bottom: 24px;
    }


}

.cdx-border-right {
    border-right: 2px solid var(--gray);

    @media #{$md} {
        border-right: none;
    }
}

.cdx-newsletter-form-5 {
    height: 50px;
    flex-shrink: 0;
    border-radius: 6px;
    border: 1px solid var(--dark);
    background: rgba(255, 255, 255, 0.00);
    display: flex;
    align-items: center;
    overflow: hidden;

    .cdx-btn-submit {
        padding: 12px 20px;
        border-radius: 4px;
        background-color: #0C513F;
    }

    .cdx-input {
        color: var(--dark);
        border-radius: 6px;
        background: rgba(255, 255, 255, 0.00);
        display: block;
        width: 100%;
        border: 0;
        outline: 0;
        padding: 15px 15px;
        font-weight: 400;

        &::placeholder {
            color: var(--gray);
            font-size: 14px;
            font-weight: 400;
            line-height: 10px;
        }
    }
}