/*--------------------------------------------
* HERO CSS SIX
--------------------------------------------*/

.cdx-hero-area-6 {
    padding: 120px 0px;
    position: relative;

    @media #{$lg} {
        padding: 125px 0px 100px;
    }

    .cdx-left-content {
        padding-left: 310px;

        @media #{$xxl} {
            padding-left: 215px;
        }

        @media #{$lg} {
            padding-left: 50px;
        }

        .cdx-section-subtext {
            color: var(--primary);
            border: none;
            background: none;

            &::before {
                background-color: var(--primary);
            }
        }

        .cdx-section-title {
            color: var(--white);
            font-size: 75px;
            font-weight: 800;
            line-height: 94px;

            @media #{$xxl} {
                font-size: 65px;
            }

            @media #{$xl} {
                font-size: 60px;
            }
        }

        .cdx-content {
            color: var(--gray);
            font-size: 16px;
            font-weight: 600;
            line-height: 26px;
        }

        .cdx-btn-primary {
            margin-top: 60px;
            background-color: var(--blue);
        }
    }

    .cdx-right-content {
        margin: 0 auto;
        text-align: center;
        mask-repeat: no-repeat;
        mask-size: 100%;
    }

    .cdx-shpe-wrap {
        .cdx-shape-1 {
            position: absolute;
            z-index: -1;
            top: 45px;
            left: 38px;
            @media #{$lg} {
                top: 8px;
                left: 40%;
            }

        }

        .cdx-shape-2 {
            position: absolute;
            bottom: 83px;
            left: 0;
            z-index: -1;
        }
    }

}