
/*--------------------------------------------
* SIPPING CSS TEN
--------------------------------------------*/

.cdx-shipping-area-10 { 
    padding: 0px 90px 215px 90px;
     @media #{$xxl} {
       padding: 0px 15px 200px 15px;
     }
    .cdx-section-title {
        font-weight: 800;
        padding-right: 100px;
        @media #{$lg} {
            padding-right: 0px;
        }
    }
    .cdx-btn-style-10 {  
        padding: 14px 27px 14px; 
    }
    .cdx-content {
        color: #808589; 
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        padding: 6px 136px 35px 6px;
        @media #{$sm} {
            padding: 6px 0px 20px 6px;
        }
    }
}

.cdx-map-box {
    .cdx-map-icon {
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #cbcbd2;
        border-radius: 100px;
    }
    .cdx-subtext {
        color: #4050DA; 
        font-size: 15px; 
        font-weight: 500; 
    }
}

// button style 10
.cdx-btn-style-10 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: #030611;
    font-size: 15px;
    font-weight: 500;
    padding: 14px 32px 14px;
    background-color: #F7C600;  
    z-index: 0;
    position: relative;
    overflow: hidden;
    transition: all 0.6s ease;
    .cdx-icon {
        transition: all 0.6s ease;
    } 
    &::before {
        background-color: #030611;  
        content: "";
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 0%;
        transform: translate(-50%, -50%) rotate(45deg);
        z-index: -1;
        transition: all 0.6s ease;
    }
    &:hover:before {
        height: 380%; 
    }
    &:hover {
        .cdx-icon {
            filter: brightness(0) invert(1);
        } 
        color: var(--white);
    }
}