/*--------------------------------------------
* TESTIMONIAL CSS TWO
--------------------------------------------*/
.cdx-testimonial-area-2{
    position: relative;
    z-index: 9;
    @media #{$sm} {
        padding-bottom: 60px;
    }
    .wrap {
        background-color: var(--dark);
        border-radius: 30px; 
        overflow: hidden;
        position: relative;
        &::before {
            position: absolute;
            top: 0%;
            left: 0%;
            border-radius: 50%; 
            display: block;
            width: 532px;
            height: 532px;
            opacity: 0.8;
            background-color: #14AD11;
            filter: blur(285px);
            content: "";
        }
        &::after {
            position: absolute;
            top: 0%;
            right: 0%;
            border-radius: 50%;
            opacity: 0.7; 
            display: block;
            width: 538px;
            height: 538px;
            background-color: #1133AD; 
            filter: blur(285px);
            content: "";
        }
    }
    .cdx-review-title {
        color: #ffffff14; 
        font-size: 100px; 
        line-height: 1;
        font-weight: 800; 
        display: inline-block;
        text-transform: uppercase;
        transform: rotate(-90deg);
        position: absolute;
        top: 38%;
        left: -14%; 
        @media #{$xl} {
            font-size: 80px;
        }
        @media #{$lg} {
            font-size: 65px;
        }
        @media #{$sm} {
            display: none;
        }
    }
    .cdx-pagination-bullet {
        text-align: inherit;
        left: 10% !important;
        bottom: 60px !important;
        @media #{$xl} {
            left: 7% !important;
            bottom: 26px !important;
        }
        @media #{$lg} { 
           left: 4% !important; 
        }
    }
}

.cdx-testimonial-slider-2 {
    position: relative;
    padding: 70px 0px 60px;
    margin-left: 110px;  
    margin-right: 100px;
    @media #{$xl} { 
        margin-left: 70px;
        margin-right: 14px;
    }
    @media #{$lg} { 
        margin-left: 30px;
        margin-right: 14px;
    }
    @media #{$sm} {
        margin-left: 0px;
    }
}

.cdx-testimonial-item-2 {
    .cdx-review {
        display: flex;
        align-items: center;
        gap: 3px;
        padding-bottom: 15px;
    }
    .cdx-title {
        color: var(--white); 
        font-family: var(--font-montserrat);
        font-size: 24px; 
        font-weight: 600;  
    }
    .cdx-content {
        color: var(--gray);
        font-size: 16px;
        font-weight: 500;
        padding: 10px 0px 32px;
        @media #{$lg} {
            font-size: 15px;
        }
    }
    .cdx-author-wrap {
        display: flex;
        align-items: center;
        gap: 10px; 
    }
    .cdx-client-wrap {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
    }
    .cdx-name {
        color: var(--white); 
        font-size: 14px; 
        font-weight: 500;  
        line-height: 1; 
    }
    .cdx-designation {
        color: var(--gray-2); 
        font-size: 12px; 
        font-weight: 500;  
        line-height: 1;
        margin-bottom: 0px;
    }
}

.cdx-testimonial-gallery {
    .cdx-item-1 {
        display: flex;
        justify-content: right;
    }
    .cdx-item-2 {
        display: flex;
        justify-content: right;
        &:nth-child(2) {
            .cdx-testimonial-box { 
                background-color: var(--dark);
            }
        }
    }
    .cdx-item-3 {
        display: flex;
        justify-content: right;
    }
    .cdx-testimonial-box {
        width: 147px;
        height: 150px;
        background-color: var(--white);
        img {
            width: auto;
            height: 100%;
        }
        @media #{$xl} {
            width: 127px;
            height: 127px;
        }
        @media #{$lg} {
            height: 130px;
        }
    }
}

// pagination style 
.cdx-pagination-bullet {
   .swiper-pagination-bullet {
     width: 10px;
     height: 10px;
     border: 1px solid var(--white-2);
     border-radius: 50%;
   } 
   .swiper-pagination-bullet-active {
        background-color: var(--primary);
        border: 0px solid var(--white-2);
   }
}