/*--------------------------------------------
* ICON LIST CSS
--------------------------------------------*/

.cdx-icon-list-item {
    padding: 0;
    li {
        list-style: none;
        display: flex;
        align-items: center;
        .cdx-icon {
            height: 60px;
            width: 60px;
            border-radius: 50%;
            background-color: #fef6d6;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 12px;
        }
        p {
            margin-bottom: 0;
            font-size: 20px;
            font-weight: 500;
            color: var(--dark);
        }
        +li {
            margin-top: 20px;
        }
    }
}