/*---------------------------
 CSS Index  
****************************

01. Variables
02. Typography
03. Spacing
04. Reset
05. Forms
06. Shortcode
07. Common
08. Animations
09. Text Animation
10. Header
11. Nav
12. Mobilemenu
13. Button
14. Banner
----------------------------*/

/* Default  */
@import "default/variables";
@import "default/typography";
@import "default/spacing";
@import "default/reset";
@import "default/forms";
@import "default/mixins";
@import "default/shortcode";
@import "default/common";
@import "default/animations";
@import "default/button";
@import "default/button-effect";

/* Loader */
@import "elements/pre-loader/loader-one.scss";

/* Hero  */
@import "elements/hero/hero-1";
@import "elements/hero/hero-2";
@import "elements/hero/hero-3";
@import "elements/hero/hero-4";
@import "elements/hero/hero-5";
@import "elements/hero/hero-6";
@import "elements/hero/hero-7";
@import "elements/hero/hero-8";
@import "elements/hero/hero-9";
@import "elements/hero/hero-10";
@import "elements/section-heading/heading-1";
@import "elements/hero/banner";

/* About  */
@import "elements/about/about-1";
@import "elements/about/about-2";
@import "elements/about/about-3";
@import "elements/about/about-4";
@import "elements/about/about-5";
@import "elements/about/about-6";
@import "elements/about/about-7";
@import "elements/about/about-8";
@import "elements/about/about-9";
@import "elements/about/about-10";
@import "elements/about/choose-us";

/* Accordion  */
@import "elements/accordion/accordion-1";
@import "elements/accordion/accordion-2";
@import "elements/accordion/accordion-3";
@import "elements/accordion/accordion-4";

/* Process  */
@import "elements/process/process-1";
@import "elements/process/process-2";
@import "elements/process/process-3";
@import "elements/process/process-4";
@import "elements/process/process-5";
@import "elements/process/process-6";

/* Contact  */
@import "elements/contact/contact-1";
@import "elements/contact/contact-2";
@import "elements/contact/contact-3";
@import "elements/contact/consultation";
@import "elements/contact/contact-info";

/* Contact  */
@import "elements/contact/contact-1";

/* CTA */
@import "elements/cta/_cta.scss";

/* ICON LIST */
@import "elements/icon-list/icon-list";

/* FAQ  */
@import "elements/faq/faq-2";
@import "elements/faq/faq-3";
@import "elements/faq/faq-9";

/* Client  */
@import "elements/client/client-1";
@import "elements/client/client-2";
@import "elements/client/client-9";

/* Shipping  */
@import "elements/shipment-track/track-shipment";
@import "elements/shipment-track/shipment-track-1";
@import "elements/shipment-track/shipment-track-2";
@import "elements/shipment-track/shipping-10";
@import "elements/shipment-track/shipping";

/* Video */
@import "elements/video/video-1";
@import "elements/video/video-2";
@import "elements/video/video-3";
@import "elements/video/video-4";

/* Portfolio  */
@import "elements/portfolio/portfolio-1";
@import "elements/portfolio/portfolio-2";
@import "elements/portfolio/portfolio-3";
@import "elements/portfolio/portfolio-4";
@import "elements/portfolio/portfolio-5";
@import "elements/portfolio/portfolio-6";
@import "elements/portfolio/portfolio-9";
@import "elements/portfolio/portfolio-10";
@import "elements/portfolio/portfolio-detail";

/* Service  */
@import "elements/service/service-1";
@import "elements/service/service-2";
@import "elements/service/service-3";
@import "elements/service/service-4";
@import "elements/service/service-5";
@import "elements/service/service-6";
@import "elements/service/service-7";
@import "elements/service/service-8";
@import "elements/service/service-9";
@import "elements/service/service-10";
@import "elements/service/service-11";
@import "elements/service/service-detail";

/* Price  */
@import "elements/price/price";
@import "elements/price/price-2";

/* Counter  */
@import "elements/counter/_counter-1";
@import "elements/counter/_counter-2";

/* Rollslider  */
@import "elements/rollslider/rollslider-1";
@import "elements/rollslider/rollslider-2";

/* Team  */
@import "elements/team/team-1";
@import "elements/team/team-2";
@import "elements/team/team-3";
@import "elements/team/team-4";
@import "elements/team/team-5";
@import "elements/team/team-9";
@import "elements/team/team-10";
@import "elements/team/team-detail";

/* Subscribe  */
@import "elements/subscribe/subscribe-1";
@import "elements/subscribe/subscribe-2";

/* Location */
@import "elements/location/location-2";
@import "elements/location/location-3";

/* Testimonial  */
@import "elements/testimonial/testimonial-1";
@import "elements/testimonial/testimonial-2";
@import "elements/testimonial/testimonial-3";
@import "elements/testimonial/testimonial-4";
@import "elements/testimonial/testimonial-5";
@import "elements/testimonial/testimonial-6";
@import "elements/testimonial/testimonial-7";
@import "elements/testimonial/testimonial-9";
@import "elements/testimonial/testimonial-10";

/* Blog  */
@import "elements/blog/blog-1";
@import "elements/blog/blog-2";
@import "elements/blog/blog-3";
@import "elements/blog/blog-4";
@import "elements/blog/blog-5";
@import "elements/blog/blog-6";
@import "elements/blog/blog-7";
@import "elements/blog/blog-8";
@import "elements/blog/blog-9";
@import "elements/blog/blog-10";
@import "elements/blog/blog-grid";
@import "elements/blog/blog-detail";
@import "elements/blog/blog-classic";

/* Shop  */
@import "elements/shop/shop";
@import "elements/shop/shop-detail";
@import "elements/shop/checkout";
@import "elements/shop/cart";

/* Header  */
@import "header/nav";
@import "header/topbar-1";
@import "header/header-1";
@import "header/header-2";
@import "header/header-3";
@import "header/header-4";
@import "header/header-5";
@import "header/header-6";
@import "header/header-7";
@import "header/header-8";
@import "header/header-9";
@import "header/header-10";
@import "header/mobilemenu";

/* Footer  */
@import "footer/footer-1";
@import "footer/footer-2";
@import "footer/footer-3";
@import "footer/footer-4";
@import "footer/footer-5";
@import "footer/footer-6";
@import "footer/footer-7";
@import "footer/footer-8";
@import "footer/footer-9";
@import "footer/footer-10";
@import "footer/widget";
