/************ single-inpur-field ************/
.cdx-single-input-inner {
    margin-bottom: 15px;
    input {
        width: 100%;
        height: 55px;
        border: 0 !important;
        border-radius: 0;
        padding: 0 22px;
        &::placeholder {
            color: #adadad;
        }
    }
    textarea {
        width: 100%;
        border: 0 !important;
        height: 140px;
        border-radius: 0;
        padding: 14px 18px;
        &::placeholder {
            color: #adadad;
        }
    }
    .cdx-single-select {
        width: 100%;
        height: 55px;
        line-height: 55px;
        border: 0 !important;
        border-radius: 0;
        padding: 0 18px;
        margin-bottom: 20px;
        .cdx-list {
            width: 100%;
        }
    }
    &.cdx-style-border {
        input {
            border: 1px solid rgba(234, 225, 214, 0.7) !important;
            &::placeholder {
                color: #adadad;
            }
        }
        textarea {
            border: 1px solid rgba(234, 225, 214, 0.7) !important;
            &::placeholder {
                color: #adadad;
            }
        }
        .cdx-single-select {
            border: 1px solid rgba(234, 225, 214, 0.7) !important;
            color: #adadad;
        }
    }
    &.cdx-style-bg {
        input {
            background: #f1f1f1;
            &::placeholder {
                color: #3F517E;
            }
        }
        textarea {
            background: #f1f1f1;
            &::placeholder {
                color: #3F517E;
            }
        }
        .cdx-single-select {
            background: #f1f1f1;
            color: #3F517E;
        }
    }
}