html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow-x: hidden;
  font-family: var(--font-roboto);
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  /* Firefox */
  -moz-osx-font-smoothing: grayscale;
  /* WebKit  */
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  color: var(--dark);
  font-family: var(--font-roboto);
  font-weight: 400;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--dark);
  font-family: var(--font-roboto);
  font-weight: 700;
}