/*=========================
    Variables 
==========================*/
:root {
  --primary: #F7C600;
  --secondary: #DE6815;
  --border-color: #e6e6e7;
  --white: #ffffff;
  --white-2: #F5F5F5;
  --black: #000000;
  --gray: #808589; 
  --gray-2: #D6D8CF;
  --gray-3: #DDDFCB;
  --gray-4: #D9D9D9;
  --gray-5: #e6e6e7;
  --gray-6: #D2CCB4;
  --gray-7: #DBD9D1;
  --gray-8: #F2EFE8;
  --gray-9: #C9C8C8;
  --dark: #030611;
  --dark-2: #050823;
  --dark-3: #121314;
  --dark-4: #262932;
  --dark-5: #111111;
  --dark-6: #0F1336;
  --dark-7: #071D23; 
  --sky-1: #ECEDE3; 
  --sky-2: #E1E9F1; 
  --sky-3: #cbd2db; 
  --sky-4: #ebebec; 
  --sky-5: #DBEFEC; 
  --green: #034141; 
  --green-2: #0F313A; 
  --green-3: #0c2d36; 
  --green-4: #0C513F; 
  --green-5: #063126; 
  --yellow: #FDFF30;
  --yellow-2: #FFF4D4;
  --yellow-3: #D4FD00;
  --blue: #39BCDF;
  --blue-2: #99C8FE;
  --blue-3: #8fd5d9;
  --red: #FE7535;
  --red-2: #C73F34;
  --red-3: #C73F34;
  --marine: #042956;
  --transition: all 0.5s;
   
  --font-roboto: 'Roboto', sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-space-grotesk: "Space Grotesk", sans-serif;
}

// Layouts Variation
$xxxl: "only screen and (min-width: 2000px)";
$xxl: "only screen and (max-width: 1599px)";
$xl: "only screen and (max-width: 1400px)";
$lg: "only screen and (max-width: 1199px)";
$md: "only screen and (max-width: 991px)";
$sm: "only screen and (max-width: 767px)";
$xs: "only screen and (max-width: 575px)";
$xxs: "only screen and (max-width: 390px)";
