/*--------------------------------------------
* BLOG CSS ONE
--------------------------------------------*/


.cdx-blog-slider-1 {
    .cdx-slider-bottom-pagination {
        background-color: var(--sky-1); 
    }
}   

.cdx-blog-item {
    position: relative;
    background-color: var(--white);
    box-shadow: 6px 14px 24px 0px rgba(18, 16, 16, 0.10);

    .cdx-thumbnail {
        position: relative;
        z-index: 0;
        overflow: hidden;
        margin-bottom: 25px;
        img {
            transition: all 300ms ease-in-out;
            height: auto;
        }
    } 
    
    .cdx-details-info {
       padding: 20px 30px 0px;
       @media #{$md} {
        padding: 20px 20px 0px;
       }
    }
    .cdx-details {
        padding: 20px 0px 60px;
    }
    .cdx-meta-info {
        display: flex;
        align-items: center;
        gap: 15px; 
        border-bottom: 1px solid rgba(18, 16, 16, 0.14);
        padding: 0px 30px 30px;
        @media #{$md} {
            padding: 0px 20px 30px;
        }
    }
    .cdx-cat { 
        font-size: 14px; 
        color: var(--dark);
        font-weight: 500; 
        display: inline-block;
        padding: 2px 8px;
        background-color: var(--primary); 

    }
    .cdx-date {
        display: inline-flex;
        align-items: center;
        gap: 8px;
        color: var(--gray); 
        font-size: 14px; 
        font-weight: 500; 
    }
    .cdx-title {
        color: var(--dark); 
        font-size: 20px; 
        font-weight: 500; 
        line-height: 1.2;
        display: inline-block;
        transition: var(--transition);  
        padding-bottom: 25px;
        &:hover {
            color: var(--primary);
        }
    }
}

.cdx-btn-arrow-right-sm {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 12px 20px;
    background-color: var(--sky-4);
    color: var(--dark); 
    font-size: 15px; 
    font-weight: 500; 
    transition: var(--transition);
    &:hover {
        color: var(--dark);
        background-color: var(--primary);
    }
}