/*--------------------------------------------
* BLOG CSS SIX
--------------------------------------------*/
.cdx-blog-item-7 {   
    background-color: var(--yellow-2);
    border-radius: 20px;
    overflow: hidden;
    transition: var(--transition); 
    &:hover {
        .cdx-details-wrap {
            position: relative;
            padding: 50px 30px 70px;
            &:before {
                background-color: var(--green-4);
                opacity: 0.9;
            }
        }
        .cdx-title {
            color: var(--white); 
        }
        .cdx-btn-arrow-right-4 {
            background-color: var(--primary);
            color: var(--dark);
        }
        .cdx-meta-list { 
            color: var(--white);
            .cdx-icon {
                filter: invert(1);
            }
        }
            
    }
    .cdx-img-box-3 {
        background-color: var(--blue-2);
        padding: 20px 30px;
    }

    .cdx-details-wrap {
        position: relative;
        padding: 50px 30px 70px;
        &::before {
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
            background-color: var(--yellow-2);
            content: ""; 
            transition: var(--transition);
        }
    }
    .cdx-meta {
        display: flex;
        align-items: center;
        gap: 15px; 
        position: relative;
        z-index: 9; 
    }
    .cdx-meta-list {
        display: inline-flex;
        align-items: center;
        gap: 6px;
        color: var(--gray); 
        font-size: 14px; 
        font-weight: 500; 
    }
    .cdx-meta-link {
        background-color: var(--primary);
        color: var(--dark);
        padding: 3px 11px;
        border-radius: 100px;
    }
    .cdx-title {
        color: var(--dark); 
        font-size: 20px; 
        font-weight: 500; 
        display: inline-block;
        line-height: 1.3; 
        padding: 25px 0px 65px;
        transition: var(--transition);
        position: relative;
        z-index: 9;
        &:hover {
            color: var(--primary);
        }
        @media #{$xl} {
            font-size: 18px;
        }
        @media #{$md} {
            font-size: 20px;
        }
    } 
    .cdx-btn-arrow-right-4 {
        background-color: rgba(3 6 17 / 8%); 
        position: relative;
        border-radius: 10px;
        z-index: 9;
    }
   
}
// pagination style 4
.cdx-slider-pagination-wrap {
    .cdx-pagination-style-4 {
        background-color: var(--white);
        display: flex;
        align-items: center;
        width: auto;
        z-index: 3;
        position: relative;
        line-height: 1;
        margin-top: 18px;
        padding: 0 15px;
        height: 30px;
        @media #{$sm}{
            margin-top: 0px;
        }
        .swiper-pagination-bullet {
            position: relative;
            margin: 3px;
            height: 10px;
            width: 10px;
            transition: 0.4s;
            color: var(--dark);
            background-color: #03061120;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            opacity: 1;
            font-size: 13px;
            font-weight: 500;
            z-index: -1;
            transition: 0.7s;  
        }
        .swiper-pagination-bullet-active {
           width: 26px;
           height: 26px;
           background-color: var(--green-4);
           &::before {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 4px;
            transform: translate(-50%, -50%);
            height: 4px;
            border-radius: 100%;
            background-color: var(--white); 
            content: "";
           }
        }
    }
}
