/*--------------------------------------------
* BLOG CSS FOUR
--------------------------------------------*/
.cdx-blog-slider-4 { 
    .swiper-slide {
        // width: 300px !important;
        transition: all 0.7s; 
    }
    .swiper-slide-active { 
        // width: 630px !important;
    }
    
}

.cdx-blog-item-4 {
    .cdx-thumb {
        width: 100%;
        height: 100%;
    }
    .cdx-meta {
        display: inline-flex;
        align-items: center;
        gap: 15px;
        padding-top: 30px;
    }
    .cdx-meta-list {
        display: inline-flex;
        align-items: center;
        gap: 6px;
        color: var(--gray);  
        font-size: 14px; 
        font-weight: 500; 
        position: relative;
        &::before {
            position: absolute;
            top: 14px;
            left: 14px;
            width: 4px;
            height: 4px;
            background-color: var(--gray);
            border-radius: 100px;
            content: "";
        }
        &:last-child::before {
            display: none;
        }
    }
    .cdx-meta-link  {
        display: inline-block;
        padding: 5px 14px 4px 23px;
        border-radius: 40px;
        border: 1px solid #C9C8C8;
    }
    .cdx-title {
        color: var(--dark); 
        font-size: 20px; 
        font-weight: 500; 
        display: inline-block;
        line-height: 1.2;
        padding: 15px 0px 5px;
        transition: var(--transition);
        &:hover {
            color: var(--primary);
        }
    }
    .cdx-author {
        color: var(--gray); 
        font-size: 14px;
        font-style: normal;
        font-weight: 400; 
        transition: var(--transition);
        &:hover {
            color: var(--primary);
        }
    }
   
}