/*--------------------------------------------
* BLOG CSS TEN
--------------------------------------------*/

.cdx-blog-item-10{
    background-color: #D2CCB4;
    transition: var(--transition);
    &:hover {
        .cdx-thumb {
            transform: scale(1.1);
        }
    }
    .cdx-thumb-wrap {
        overflow: hidden; 
    }
    .cdx-thumb {
        width: 100%;
        transition: var(--transition);
    }
    .cdx-details {
        border: 1px solid #030611; 
        padding: 30px 20px 30px;
    }
 
    .cdx-meta-list {
        color: #030611;
        font-size: 14px;
        font-weight: 500;
        display: flex;
        align-items: center;
        gap: 8px; 
        @media #{$xxl} {
            font-size: 12px;
        }
        @media #{$xl} { 
            font-size: 10px;
        }
        @media #{$lg} { 
            font-size: 13px;
        }
        &:nth-child(1) {
            border-radius: 40px; 
            padding: 5px 15px 5px 24px;
            position: relative; 
            border: 1px solid #030611;
            background-color: var(--white); 
            &::before {
                position: absolute;
                top: 13px;
                left: 13px;
                width: 4px;
                height: 4px;
                background-color: #808589;
                content: "";
                border-radius: 100px;
            }
             
        }
        
    }
    .cdx-title {
        color: #030611;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.3;
        display: inline-block;
        transform: var(--transition);
        padding: 16px 0px 5px;
        @media #{$xxl} {
            font-size: 16px;
        }
        @media #{$xl} { 
            font-size: 14px;
        }
        @media #{$lg} {
            padding-right: 0px;
            font-size: 20px;
        }
        &:hover {
            color: var(--primary);
        }
    }
    .cdx-author {
        color: #808589;
        font-size: 16px;
        font-weight: 400;
        @media #{$xl} { 
            font-size: 13px;
        }
        @media #{$lg} { 
            font-size: 15px;
        }
    } 
}

.cdx-px-90 {
    padding-left: 90px;
    padding-right: 90px;
    @media #{$xxl} {
        padding-left: 15px;
        padding-right: 15px;
    }
}

// Only used for 1280 screen 
@media only screen and (min-width: 1280px) and (max-width: 1300px) {
    .cdx-blog-item-10 .cdx-details { 
        padding: 30px 10px 30px;
    }
}