/*--------------------------------------------
* BLOG CSS NINE
--------------------------------------------*/

.cdx-blog-item-9 {
    transition: var(--transition);
    &:hover {
        .cdx-thumb {
            transform: scale(1.1);
        }
    }
    .cdx-thumb-wrap {
        overflow: hidden; 
    }
    .cdx-thumb {
        transition: var(--transition);
        width: 100%;
    }
    .cdx-meta {
        padding: 30px 0px 15px;
    }
    .cdx-meta-list {
        color: #808589;
        font-size: 14px;
        font-weight: 500;
        display: flex;
        align-items: center;
        gap: 8px;
        &:nth-child(1) {
            border-radius: 40px;
            border: 1px solid #C9C8C8;
            padding: 5px 15px 5px 24px;
            position: relative;
            &::before {
                position: absolute;
                top: 13px;
                left: 13px;
                width: 4px;
                height: 4px;
                background-color: #808589;
                content: "";
                border-radius: 100px;
            }
        }
        
    }
    .cdx-title {
        color: #030611;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.3;
        display: inline-block;
        transform: var(--transition);
        padding-right: 100px;
        padding-bottom: 10px;
        @media #{$xl} {
            font-size: 18px;
        }
        @media #{$lg} {
            padding-right: 0px;
        }
        &:hover {
            color: var(--primary);
        }
    }
    .cdx-author-name {
        color: #808589;
        font-size: 14px;
        font-weight: 400;
    }
}