

/*--------------------------------------------
* BLOG DETAILS CSS
--------------------------------------------*/

.cdx-single-blog-sidebar {
    position: sticky;
    top: 0px;
}

// Single post cdx-content
.cdx-single-post-content {
    .cdx-single-post-title {
        color: #030611;
        font-size: 40px;
        font-weight: 700;
        line-height: 1.2;
        border-bottom: 1px solid rgba(4, 6, 24, 0.10);
        padding-top: 20px;
        padding-bottom: 30px;
        margin-bottom: 30px;
        @media #{$sm} {
            font-size: 26px;
        }
    }
    .cdx-post-title {
        color: #030611;
        font-size: 40px;
        font-weight: 700;
        line-height: 1.2; 
        padding-bottom: 10px;
        @media #{$lg} {
            font-size: 36px;
        }
        @media #{$sm} {
            font-size: 23px;
        }
    }
    .cdx-post-thumb-wrap {
        padding: 40px 0px 30px;
    }
    .cdx-post-thumb {
        width: 100%;
    }
    .cdx-post-content {
        color: var#808589;
        font-size: 16px;
        font-weight: 500;
        padding-bottom: 20px;
    }
    .cdx-blockquote-content {
        background-color: #ECEDE3;
        background-image: url(../images/blog-detail/icon/quote.png);
        background-repeat: no-repeat;
        background-position: 5% 0%;
        padding: 37px 90px 37px 37px;
        font-style: normal;
        @media #{$sm} {
            padding: 20px;
            margin-bottom: 30px;
        }
        .cdx-content {
            color: rgba(30, 30, 47, 0.70); 
            font-size: 16px;
            font-style: italic;
            font-weight: 400; 
            padding-bottom: 15px;
        }
        .cdx-name {
            color: #1E1E2F; 
            font-size: 15px; 
            font-weight: 500; 
            padding-left: 37px;
            position: relative;
            text-decoration: none;
            &::before {
                position: absolute;
                top: 8px;
                left: 0px;
                width: 30px; 
                height: 3px;
                background-color: #FE7535;
                content: "";
            }
        }
    } 
    .cdx-post-gallery {
        img {
            width: 100%;
        }
    }
    .cdx-blog-post-meta {
        display: flex;
        align-items: center;
        gap: 10px;
        .cdx-post-item {
            color: #030611;
            font-size: 15px;
            font-weight: 500;
            border: 1px solid #03061110; 
            background: rgba(3, 6, 17, 0.00);
            display: inline-flex;
            gap: 8px;
            align-items: center;
            padding: 2px 17px 2px 17px;
            position: relative;
            &:nth-child(1) { 
                padding: 2px 17px 2px 28px; 
                &::before {
                    position: absolute;
                    top: 10px;
                    left: 17px;
                    width: 5px;
                    height: 5px;
                    background-color: #FE7535;
                    border-radius: 100px;
                    content: "";
                }
            }
        } 
    }
    
}

.cdx-post-tag-wrap {
    .cdx-title {
        color: #040618; 
        font-size: 20px; 
        font-weight: 500; 
    }
}

.cdx-share-main-wrap {
    padding: 70px 0px;
    @media #{$sm} {
      padding: 40px 0px;  
    }
}

.cdx-post-share-wrap {
    .cdx-title {
        color: #040618; 
        font-size: 20px; 
        font-weight: 500; 
    } 
    .cdx-post-share {
        display: flex;
        align-items: center;
        gap: 6px;
    }
    .cdx-share-list {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
        width: 40px;
        height: 40px; 
        transition: var(--transition); 
        &:nth-child(1) {
            background-color: #1877F2;
            &:hover {
                background-color: #F7C600;
            }
        }
        &:nth-child(2) {
            background-color: #040618;
             &:hover {
                background-color: #F7C600;
            }
        }
        &:nth-child(3) {
            background-color: #0A66C2;
             &:hover {
                background-color: #F7C600;
            }
        }
        &:nth-child(4) {
            background-color: #CB2027;
             &:hover {
                background-color: #F7C600;
            }
        }
    }
    .cdx-share-link {
        width: 40px;
        height: 40px; 
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
}

.cdx-author-meta { 
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 50px; 
    @media #{$sm} {
        gap: 10px;
    }
    .cdx-author-avatar {
        display: inline-block;
        width: 40px;
        height: 40px;
        border-radius: 100px;
        overflow: hidden;
        @media #{$sm} {
            width: 35px;
            height: 35px;
        }
    }
    .cdx-author-list {
        &:nth-child(2){
            border-left: 1px solid #D9D9D9;
            padding-left: 10px;
        }
        &:nth-child(3){
            border-left: 1px solid #D9D9D9;
            padding-left: 10px;
        }
    }
    .cdx-posted-title {
        color: #FE7535;
        font-size: 14px;
        font-weight: 500;
        display: block;
        @media #{$sm} {
            font-size: 13px;
        }
    }
    .cdx-entry-date {
        color: #030611;
        font-size: 16px;
        font-weight: 500;
        @media #{$sm} {
            font-size: 12px;
        }
    }
    .cdx-post-by {
        color: #030611;
        font-size: 16px;
        font-weight: 500;
        display: block;
        @media #{$sm} {
            font-size: 12px;
        }
    }
}
.cdx-post-tag {
    display: flex;
    align-items: center;
    gap: 10px;
    .cdx-tag-link {
        color: #03061150;
        font-size: 15px;
        font-weight: 500;
        display: inline-block;
        border: 1px solid rgba(3, 6, 17, 0.14);
        padding: 3px 10px;
        transition: var(--transition);
        @media #{$sm} {
            font-size: 14px;
        }
        &:hover {
            color: #030611;
            background-color: #F7C600;
        }
    }
}
.cdx-post-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ECEDE3;
    padding: 30px;
    margin-bottom: 70px;
    @media #{$sm} {
        padding: 30px 15px; 
        gap: 30px;
        margin-bottom: 40px;
    }
    
    @media #{$xxs} { 
        flex-direction: column;  
    }
    .cdx-post-prev {
        border-right: 1px solid rgba(4, 6, 24, 0.10);
        padding-right: 70px;
        @media #{$lg} {
            border-right: 0px solid rgba(4, 6, 24, 0.10);
            padding-right: 0px;
        }
    }
    .cdx-post-nav-btn {
        color:#03061150;
        font-size: 15px;
        font-weight: 500;
        display: inline-block;
        padding: 3px 8px;
        margin-bottom: 5px;
        border: 1px solid rgba(4, 6, 24, 0.10);
        background: rgba(255, 255, 255, 0.00);
        transition: var(--transition); 
        &:hover {
            color: #030611;
            background-color: #F7C600;
        }
    }
    .cdx-post-next {
        text-align: right;
    }
    .cdx-post-nav-link {
        color: #040618; 
        font-size: 15px; 
        font-weight: 500; 
        display: inline-block;
        line-height: 1.2;
        transition: var(--transition);
        &:hover {
            color: #F7C600; 
        }
    }
}

.cdx-comment-count-title {
    color: #030611;
    font-size: 20px; 
    font-weight: 500; 
    border-bottom: 1px solid #03061110;
    padding-bottom: 20px;
    margin-bottom: 40px;
}

.cdx-comment-title {
    color: #030611;
    font-size: 20px; 
    font-weight: 500;  
}

.cdx-comment-wrap {
    border-bottom: 1px solid #03061110;
}

.cdx-comment-item { 
    position: relative;
    padding-bottom: 60px;
    padding-left: 80px; 
    margin-right: 80px;  
    @media #{$lg} {
        margin-right: 0px;  
    }
    @media #{$sm} {
        padding-left: 30px;
        padding-bottom: 40px;
    }
    &:nth-child(2) {
        padding-left: 0px;
    } 
    .cdx-comment-inner {
        display: flex;
        align-items: center;
        gap: 14px;
        padding-bottom: 20px;
    }
    .cdx-comment-avatar {
        width: 50px;
        height: 50px;
        border-radius: 100px;
        overflow: hidden;
    }
    .cdx-name {
        color:#030611;
        font-size: 16px;
        font-weight: 500;
    }
    .cdx-date {
        color: #747D87;
        font-size: 14px;
        font-weight: 500; 
    }
    .cdx-text {
        color: #747D87;
        font-size: 14px;
        font-weight: 500;
    }
    .cdx-comment-btn {
        border: 0;
        color: #03061150; 
        font-size: 13px; 
        font-weight: 500; 
        display: inline-block;
        padding: 2px 14px;
        background-color: #f0f0f1;
        transition: var(--transition);
        position: absolute;
        top: 20px;
        right: 20px;
        &:hover {
            color: #030611;
            background-color: #F7C600;
        }
    }
}

.cdx-comment-form {
    padding-top: 70px;
    @media #{$sm} {
        padding-top: 40px;
    }
    .cdx-text {
        color: #808589; 
        font-size: 16px;
        font-style: normal;
        font-weight: 500; 
        padding-bottom: 20px;
        @media #{$sm} {
            font-size: 14px;
        }
    }
    .cdx-single-input {
        display: block;
        border: 0;
        outline: 0;
        width: 100%;
        border: 1px solid #03061114;
        padding: 12px 20px; 
    }
    .cdx-label {
        color: #030611;
        font-size: 13px;
        font-weight: 500;
        display: inline-block;
        padding-bottom: 5px;
    }
    .checkbox {
        color: #808589;
        font-size: 14px;
        font-weight: 400;  
    }
    .cdx-btn-submit {
        border: 0;
        color: #030611;
        text-align: center; 
        font-size: 15px;
        font-weight: 500; 
        background-color: #F7C600;
        padding: 13px 40px;
        margin-top: 10px;
        transition: var(--transition);
        &:hover {
            background-color: #030611;
            color: var(--white);
        }
    }
}