/*--------------------------------------------
* BLOG CSS TWO
--------------------------------------------*/
.cdx-blog-item-2 {
    position: relative;
    &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 60%;
        width: 100%;
        background: linear-gradient(180deg, rgba(18, 16, 16, 0.00) 0%, #121010 100%);
    }
    .cdx-title {
        color: var(--white);
        margin-bottom: 0; 
        font-size: 30px; 
        font-weight: 600;  
        line-height: 1.3;
        display: inline-block;
        position: relative;
        z-index: 2;
         @media #{$xl} {
            font-size: 25px;
         }
        @media #{$md} {
            font-size: 22px;
        }
    }
    .cdx-details {
        position: absolute;
        bottom: 0;
        z-index: 3;
        padding: 40px 35px 35px;
        width: 100%;
        transition: 0.4s;
        &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            height: 60%;
            width: 100%;
            background: var(--dark);
            visibility: hidden;
            opacity: 0;
            transition: 0.4s;
        }
        .cdx-date {
            background-color: var(--primary);
            display: inline-flex;
            padding: 5px 15px;
            font-size: 14px;
            font-weight: 500;
            align-items: center;
            margin-bottom: 18px;
            position: relative;
            z-index: 2;
            img {
                margin-top: -3px;
                margin-right: 4px;
            }
        } 
    }
    &:hover {
        .cdx-details {
            &:after {
                visibility: visible;
                opacity: 1;
                height: 100%;
            }
        }
    }
}