/*--------------------------------------------
* SERVICE CSS Five
--------------------------------------------*/
.cdx-service-area-6 {
   overflow: hidden;
   .cdx-navigation-style-4 {
        position: absolute;
        top: 57%;
    }
    .cdx-service-prev {
        transform: translate(-103px, 0px);
        @media #{$xxl} {
            transform: translate(-20px, 0px);
        }
        @media #{$sm} {
            transform: translate(0px, 0px);
        }
    }
    .cdx-service-next {
        transform: translate(103px, 0px);
        @media #{$xxl} {
            transform: translate(0px, 0px);
        }
        @media #{$sm} {
            transform: translate(-20px, 0px);
        }
    }
    .cdx-more-details-btn{
        padding-top: 45px;
        .cdx-details {
            margin-bottom: 0;
            background-color: var(--white);
        border: 1px solid var(--dark);

        }
        .cdx-btn-arrow-right-6{
            color: var(--dark);
        }
    } 
}

.cdx-service-card-6 { 
    text-align: center;
    padding: 0px 20px 30px;
    position: relative;
    transition: var(--transition);
    &:hover::after {
        height: 100%;
    }
    &::after {
        position: absolute;
        bottom: 0%;
        left: 0%;
        width: 100%;
        height: 240px;
        background-color: var(--gray-8);
        content: "";
        z-index: -1;
        transition: var(--transition);
    }
    .cdx-title {
        color: var(--dark); 
        font-size: 20px; 
        font-weight: 500;
        line-height: 1;
        display: inline-block;
        transition: var(--transition);
        padding-top: 25px;
        &:hover {
            color: var(--primary);
        }
    }
    .cdx-text {
        color: var(--gray); 
        font-size: 16px; 
        font-weight: 500; 
        margin-top: -4px;
    }
}