/*--------------------------------------------
* SERVICE CSS FOUR
--------------------------------------------*/
.cdx-service-area-4 {
    .cdx-navigation-style-4 {  
        position: absolute;
        top: 55%;
        left: 0%;
    }
    .cdx-service-prev {
        transform: translate(-63px, 0px);
        @media #{$xxl} {
            transform: translate(0px, 0px);
        }
    }
    .cdx-service-next {
        transform: translate(63px, 0px);
        @media #{$xxl} {
            transform: translate(0px, 0px);
        }
    }
}

.cdx-service-card-4 {
    background: linear-gradient(180deg, #0c4643, #0d5e4eeb);
    position: relative;
    overflow: hidden;
    padding: 70px 40px 0px;
    .cdx-title {
        color: var(--white); 
        font-size: 30px; 
        font-weight: 600;
        display: inline-block;
        line-height: 1.2;
        transition: var(--transition);
        &:hover {
            color: var(--primary);
        }
        @media #{$xxl} {
            font-size: 25px;
        }
    }
    .cdx-text {
        color: rgba(255, 255, 255, 0.50);
        font-size: 16px;
        font-weight: 500; 
        display: inline-block;
        padding: 10px 0px 25px;
    }
    .cdx-thumb {
        transform: translate(50px, 85px);
    }
    .img-box {
        display: block;
        width: 360px; 
        height: 360px;
        border-radius: 360px;
        background-color: #0A4F48;
        margin: 13px 0px -81px 115px;
        position: relative;
        @media #{$xxl} {
            margin: 13px 0px -81px 20px;
        }
        @media #{$lg} {
            margin: 13px 0px -81px 100px;
        }
        @media #{$md} {
            margin: 13px 0px -81px 20px;
        }
        &::before {
            position: absolute;
            top: 1%;
            left: -4%; 
            border-radius: 360px;
            border: 1px solid #ffffff30;  
            width: 100%;
            height: 100%;
            content: "";
            z-index: -1;
        }

    }
    .cdx-number {
        color: var(--dark); 
        font-size: 20px; 
        font-weight: 500; 
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px; 
        background-color: var(--primary);
        border-radius: 50%;
        position: absolute;
        top: -7%;
        left: 45%;
    }
}

.cdx-bt-arrow-right {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    color: var(--white); 
    font-size: 15px; 
    font-weight: 500; 
    position: relative;
    transition: var(--transition);
    .cdx-icon {
        transition: var(--transition);
    }
    &:hover {
        color: var(--primary);
        .cdx-icon {
            filter: brightness(0) saturate(100%) invert(65%) sepia(70%) saturate(1308%) hue-rotate(9deg) brightness(108%) contrast(105%);
        }
    }

    &::after {
        position: absolute;
        left: 0%;
        bottom: -2px;
        width: 100%;
        height: 1px;
        background-color: var(--white);
        content: "";
        transition: var(--transition);
    }
    &:hover::after {
        width: 0%;
    } 
}

// cdx-navigation-style-4
.cdx-navigation-style-4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    .cdx-btn-navigation {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 100px;
        background-color: #e6e6e7; 
        transition: var(--transition);
        position: relative;
        z-index: 9;
        &:hover {
            background-color: var(--primary);
        }
    }
}