
/*--------------------------------------------
* SERVICE CSS ELEVEN
--------------------------------------------*/
.cdx-service-area-11 {
    
}

.cdx-service-item-11 {
    border-radius: 16px;
    border: 2px solid var(--dark); 
    background-color: var(--white);
    overflow: hidden;
    .cdx-service-icon {
        padding-bottom: 30px;
        @media #{$lg} {
            padding-bottom: 15px;
        }
    }
    .cdx-title {
        color: var(--dark); 
        font-size: 20px; 
        font-weight: 500; 
        line-height: 1;
        transition: var(--transition);
        &:hover {
            color: var(--primary);
        }
    }
    .cdx-description {
        color: var(--gray);  
        font-size: 16px; 
        font-weight: 500; 
        padding-bottom: 35px;
    }
    .cdx-thumb {
        width: 100%;
    }
    .cdx-details {
        padding: 40px 40px 60px;
        @media #{$lg} {
            padding: 40px 20px 40px; 
        }
    }
    .cdx-btn-arrow-right-6 {
        color: var(--dark-7); 
        &:hover {
            color: var(--primary);
        }
    }
}