/*--------------------------------------------
* SERVICE CSS Seven
--------------------------------------------*/
.cdx-service-area-7 {
   background-color: var(--marine);
   position: relative;
    &::before {
        position: absolute;
        top: 0px;
        left: 10%;
        width: 1px;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.14);
        content: "";
        @media #{$lg} {
            display: none;
        }
    }
    &::after {
        position: absolute;
        top: 0px;
        right: 20%;
        width: 1px;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.14);
        content: "";
        @media #{$lg} {
            display: none;
        }
    }
   .cdx-sec-title { 
    display: inline-block;
    transform: rotate(-90deg);
    color: #123662; 
    font-size: 80px; 
    font-weight: 900; 
    text-transform: uppercase;
    line-height: 1.2;
    position: absolute;
    top: 218%;
    left: -30%;
    @media #{$xxl} {
        font-size: 38px;
    }
    @media #{$md} {
        left: auto;
        right: -14%;
    }
    @media #{$sm} {
        font-size: 25px; 
        transform: rotate(-0deg); 
        top: 144px;
        left: 0%; 
    }
   }
   .cdx-left { 
    padding-top: 100px;
   }
   .cdx-icon-style-1 { 
        position: absolute;
        top: 100px;
        right: 40px;
        @media #{$lg} {
            top: 30px;
            right: auto;
            left: 0;
        }
    }
   .cdx-service-wrap {
        padding: 100px 0px 220px 20px;
        @media #{$md} {
            padding: 100px 0px 120px 15px;
        }
        @media #{$sm} {
            padding: 100px 0px 80px 15px;
        }
    }
    .cdx-section-content {
        color: #ffffff50;
        font-size: 18px; 
        max-width: 460px;
        position: relative;
        padding-top: 50px;
        &::before {
            position: absolute;
            top: 35px;
            left: 0px;
            width: 200px;
            height: 1px;
            background-color: #ffffff50;
            content: ""; 
        }
    }
}

.cdx-service-item-7 {
    padding-bottom: 25px;
    transition: var(--transition);
    @media #{$xxl} {
        padding-bottom: 10px;
    }
    &:nth-child(1) {
        .cdx-thum-wrap {
            opacity: 1;
            visibility: visible;
        }
        
    }
    &:hover {
        .cdx-thum-wrap {
            opacity: 1;
            visibility: visible;
        }
    }
    .cdx-title {
        color: #53728C; 
        font-size: 64px; 
        font-weight: 500; 
        line-height: 1.2;
        transition: var(--transition);
        &:hover {
            color: var(--white);
        }
        @media #{$xxl} {
            font-size: 50px;
        }
        @media #{$lg} {
            font-size: 45px;
        }
        @media #{$md} {
            font-size: 50px;
        }
        @media #{$sm} {
            font-size: 30px;
        }
    }
    .cdx-thum-wrap {
        width: fit-content; 
        position: relative;
        transform: rotate(-15deg);
        position: absolute;
        top: 180px;
        right: 90px;
        opacity: 0;
        overflow: hidden;
        transition: var(--transition);
        z-index: 9;
        @media #{$xxl} {
            width: 27%;
        }
        @media #{$xl} {
            right: 60px;
        }
        @media #{$md} {
           display: none;
        }
        
    }
    .cdx-icon-wrap {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 114px;
        height: 114px;
        background-color: var(--dark);
        border-radius: 50%; 
        transition: var(--transition);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        &:hover {
            background-color: var(--white);
            .cdx-icon {
                filter: brightness(0);
            }
        }
        .cdx-icon {
            transition: var(--transition);
        }
        @media #{$lg} {
            width: 90px;
            height: 90px;
         }
    }
}

.cdx-icon-style-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-color: #ffffff10;
}