/*--------------------------------------------
* ABOUT CSS THREE
--------------------------------------------*/


.cdx-img-stack-wrap {
    .cdx-text {
        color: #A4A2B9; 
        font-size: 14px; 
        font-weight: 500; 
    }
    .cdx-subtext {
        color: var(--dark); 
        font-size: 14px; 
        font-weight: 500; 
    }
}

// cdx-img-stack 
.cdx-img-stack {
    display: flex;
    align-items: center; 
    .cdx-item {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px solid var(--white);
        overflow: hidden;
        margin-left: -14px;
        transition: var(--transition);
        &:hover {
            margin-left: 0px;
        }
        &:nth-child(1 ){
            margin-left: 0px;
        }
    }
}

// counter style two 
.cdx-counter-style-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 330px;
    height: 336px;
    border-radius: 50%;
    background-color: var(--sky-2);
    @media #{$lg} {
        width: 285px;
        height: 285px;
    }
    .cdx-counter-icon {  
        transform: translate(66px, -25px);
    }
}