/*--------------------------------------------
* ABOUT CSS ONE
--------------------------------------------*/
.cdx-about-wrap-1 {
    position: relative;
    padding-left: 43px;
    @media #{$sm}{
        padding-left: 0;
    }
    .cdx-left-title {
        text-transform: uppercase;
        font-size: 84px;
        color: var(--gray-2);
        position: absolute;
        left: -333px;
        bottom: 282px;
        transform: rotate(-90deg);
        @media #{$xl}{
            font-size: 64px;
            left: -256px;
            bottom: 237px;
        }
        @media #{$lg}{
            font-size: 55px;
            left: -206px;
            bottom: 190px;
        }
        @media #{$md}{
            font-size: 40px;
            left: -140px;
            bottom: 135px;
        }
        @media #{$sm}{
            display: none;
        }
    }
    .cdx-thumb {
        position: relative;
        z-index: 1;
        &:after {
            content: '';
            position: absolute;
            left: -53px;
            top: -13px;
            width: 0px;
            height: 0px;
            border-style: solid;
            border-width: 0px 80px 80px 80px;
            border-color: transparent transparent var(--white) transparent;
            transform: rotate(-45deg);
        }
    } 
    .cdx-counter-style-1{
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 2;
    }
}


// Conter style one
.cdx-counter-style-1{ 
    background-color: var(--sky-1);
    padding: 60px;
    text-align: center;
    @media #{$lg}{
        padding: 40px;
    }
   .cdx-counter-icon { 
        transform: translate(-8px, -21px);
    }
}

.cdx-title-wrap {
    position: relative;
    display: flex;
    gap: 5px;
}
.cdx-counter-icon {
    color: var(--dark-5);  
    font-size: 40px; 
    font-weight: 700; 
    letter-spacing: -0.8px;
    text-transform: uppercase;
} 

.cdx-counter-subtitle {
    font-size: 20px;
    font-weight: 500;
    max-width: 130px;
    display: block;
    margin: 0 auto;
    line-height: 1.3;
}

.cdx-counter-mask {
    margin: 0 auto;
    font-size: 200px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    -webkit-background-clip: text; 
    background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 0.9;
    font-weight: 800;
    @media #{$lg}{
        font-size: 125px;
    }
}