/*--------------------------------------------
* ABOUT CSS TEN
--------------------------------------------*/
.about-area-10 {
    position: relative;
    .cdx-section-title {
        padding: 20px 0px 15px;
        font-weight: 800;
        @media #{$lg} {
            font-size: 35px;
        }
        @media #{$sm} {
            font-size: 32px;
        }
    }
    .cdx-left {
        position: relative;
        z-index: 9;
    } 
    .cdx-right {
        padding-left: 100px;  
        @media #{$lg} {
            padding-left: 10px;
        }
    }
    .cdx-content {
        padding-bottom: 30px;
    }
    .cdx-review {
        display: inline-flex;
        align-items: center;
        border: 1px solid #03061110; 
        padding: 20px 20px;
        gap: 30px; 
        .cdx-number {
            color: #030611;
            font-size: 56px;
            font-weight: 800;
            border-right: 1px solid #03061110; 
            padding-right: 18px;
            line-height: 1;
        }
        .cdx-count {
            color: var(--gray);
            font-size: 16px;
            font-weight: 500;
            margin: 0;
        }
        .cdx-review-btn {
            display: inline-flex;
            align-items: center;
            gap: 6px;
            border-radius: 100px;
            background-color: #F89833;
            padding: 7px 19px;
            margin-bottom: 5px;
        }
    }
    
   .cdx-img-2 {
        position: absolute;
        bottom: 0%;
        right: 0%;
        @media #{$xxl} {
            right: -12%;
        }
        @media #{$xl} {
            width: 52%;
        }
        @media #{$lg} {
            display: none;
        }
    }

   .cdx-shape-2 {
        position: absolute;
        left: 48%;
        top: 25%;
        @media #{$xxl} {
            display: none;
        }
    }
    .cdx-shape-1 {
        position: absolute;
        top: 22%;
        left: 2%;
        @media #{$xxxl} {
            left: 14%;
        }
        @media #{$xxl} {
            display: none;
        } 
    }
}
.cdx-support-wrap {
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 328px;
    background: var(--dark);
    padding: 12px 20px;
    
    .cdx-support-img { 
        width: 46px;
        height: 46px;
        position: relative;
        border: 1px solid var(--white);
        border-radius: 100px;
        overflow: hidden;
        img {
            width: auto;
            height: 100%;
        }
        &:nth-child(2) {
            margin-left: -15px;
        }
        &:nth-child(3) {
            margin-left: -15px;
        }
        &:nth-child(4) {
            margin-left: -15px;
            border: 0px solid var(--white);
            position: relative;
            &::before {
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
                background: rgba(10, 10, 10, 0.60);
                content: "";
            }
        }
    }
    .cdx-count {
        color: var(--white); 
        font-size: 14px; 
        font-weight: 600; 
        line-height: 1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .cdx-text {
        color: #ffffff60; 
        font-size: 14px; 
        font-weight: 500;
        line-height: 1.1;
        display: inline-block;
        margin: 0;
    }
}