/*--------------------------------------------
* ABOUT CSS EIGHT
--------------------------------------------*/
.cdx-about-area-8 {
    position: relative;
    padding-left: 145px;
    padding-right: 145px;
    @media #{$xxl} {
        padding-left: 15px;
        padding-right: 15px;
     }
    .cdx-content {
        border-left: 1px solid var(--gray-5);
        border-right: 1px solid var(--gray-5);
        padding: 0 20px;
        @media #{$md} {
            border: none;
            padding: 0;
        }
        .cdx-section-title {
            color: var(--dark);
            font-size: 40px;
            font-weight: 700;
            padding-bottom: 40px;
        }
        .cdx-item {
            padding-top: 45px;
            .cdx-title {
                color: var(--red-3);
                font-size: 20px;
                font-weight: 600;
        
            }
            .cdx-description {
                color: var(--gray);
                font-size: 16px;
                font-weight: 500;
                line-height: 26px;
                padding: 24px 0 85px;
            }
        }
    }
}

.cdx-btn-wrap {
    padding: 91px 85px 0;
.cdx-btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 140px;
    background-color: var(--marine);
    border-radius: 50%;
    overflow: hidden;
    transition: var(--transition);
    &:hover {
        background-color: var(--primary);
        .cdx-circle {
            background-color: var(--dark);
        }
    }
    .cdx-circle {
        position: absolute;
        width: 140px;
        height: 140px;
        background: var(--red-2);
        border-radius: 50%;
        bottom: -85px;
        left: 32px;
        transition: var(--transition);
    }
}
}