/*--------------------------------------------
* ABOUT CSS SEVEN
--------------------------------------------*/
.cdx-about-area-7 {
    .cdx-btn-primary {
        border-radius: 6px;
        background: rgba(12, 81, 63, 0.10);
        color: var(--green-4);
    }
}

.cdx-left-content {
    position: relative;
    @media #{$md} {
        max-width: 85%;
    }
    .cdx-image-1 {
        position: absolute;
        bottom: 0;
        left: 75px;
        z-index: 2;

        @media #{$lg} {
            max-width: 310px;
        }

        @media #{$md} {
            max-width: 100%;
        }

        @media #{$sm} {
            display: none;

        }
    }
    .cdx-image-2 {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        @media #{$lg} {
            max-width: 178px;
        }
        @media #{$md} {
            max-width: 100%;
        }
        @media #{$sm} {
            max-width: 50%;
        }
    }
    .cdx-details {
        position: absolute;
        padding: 10px 50px;
        border-radius: 10px;
        left: 0;
        top: 80px;
        z-index: 3;
        background: var(--green-4);
        @media #{$xl} {
            padding: 14px 18px;
            top: 85px;
        }
        @media #{$lg} {
            padding: 14px 18px;
            top: 68px;
        }
        @media #{$md} {
            padding: 0px 35px 16px 35px;
            left: 0;
            top: 82px;
        }
        @media #{$sm} {
            padding: 28px 11px;
            left: 0;
            top: 159px;
        }
        .cdx-subtext {
            color: var(--gray);
            font-size: 16px;
            font-weight: 500;
            line-height: 26px;
        }
        .cdx-number {
            position: relative;
            color: var(--white);
            font-size: 80px;
            font-weight: 700;

            @media #{$xl} {
                font-size: 50px;
            }
            @media #{$md} {
                font-size: 80px;
            }
            @media #{$xxs} {
                font-size: 40px;
            }
            .cdx-sup-text {
                position: absolute;
                font-size: 16px;
                top: 32px;
                left: -40px;
                color: var(--gray);
            }
        }
        .cdx-postfix {
            color: var(--white);
            font-size: 30px;
            font-weight: 600;
        }
    }
}
.cdx-details-1 {
    padding-bottom: 70px;
    .cdx-para {
        padding-left: 15px;
        color: var(--gray);
        font-size: 16px;
        font-weight: 500;
        line-height: 26px;
    }
    .cdx-subtext {
        color: var(--gray);
        padding: 40px 0 55px;
        font-size: 16px;
        font-weight: 500;
        line-height: 26px;
    }
    .cdx-title-two {
        padding-bottom: 40px;
        color: var(--dark);
        font-size: 20px;
        font-weight: 500;
    }

}
