/*--------------------------------------------
* CHOOSE US CSS
--------------------------------------------*/
.cdx-choose-us-area {
    background: linear-gradient(90deg, #1CE2EF -142%, #E1E9F1 80%);
    padding-bottom: 190px;
    @media #{$lg} {
        padding-bottom: 100px;
    }
    @media #{$md} {
        padding-bottom: 60px;
    }
    @media #{$sm} {
        padding-bottom: 30px;
    }
}

.cdx-choose-img-box {
    position: relative;
    img {
        border-radius: 20px;
    }
    .cdx-img-2 {
        position: absolute;
        top: 100px;
        right: 100px;
        @media #{$lg} {
            right: 30px;
        }
        @media #{$md} {
            top: 50px;
        }
        @media #{$sm} {
            display: none;
        }
        
    } 
    .cdx-year-box {
        position: absolute;
        top: 160px;
        left: 180px;
    }
}

.cdx-icon-box-2 {
    display: grid;
    grid-template-columns: 80px auto;
    gap: 20px;
    margin-bottom: 40px;
    .cdx-icon-wrap {
        width: 80px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px dashed #12131460;
        border-radius: 50%;
        transition: var(--transition);
        &:hover {
            background-color: var(--primary);
            border: 1px dashed  var(--primary);
            .cdx-icon { 
                filter: brightness(0);
            }
        }
    }
    .cdx-icon {
        transition: var(--transition);
    }
    .cdx-title {
        color: var(--dark); 
        font-family: var(--font-montserrat);
        font-size: 18px; 
        font-weight: 600; 
        line-height: 1;
        display: inline-block;
    }
    .cdx-text {
        color: var(--gray); 
        font-size: 16px; 
        font-weight: 500; 
    }
}

.cdx-year-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 140px;
    height: 140px;
    background-color: var(--white);
    border-radius: 50%;
}