
/*--------------------------------------------
* CONTACT CSS ONE
--------------------------------------------*/
.cdx-contact-advisor-card {
    position: relative;
    .phone-image {
        position: absolute;
        left: -40px;
        top: -40px;
    }
    &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 70%;
        background: linear-gradient(180deg, rgba(18, 16, 16, 0.00) 0%, #121010 100%);
    }
    .cdx-advisor-info {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 3;
        padding: 30px;
        width: 100%;
        text-align: center;
        .cdx-title {
            color: var(--white);
            font-size: 30px;
            margin-bottom: 20px;
        }
        .cdx-name {
            background-color: var(--primary);
            padding: 5px 18px;
            display: inline-block;
            font-size: 20px;
            font-weight: 500;
            color: var(--dark);
        }
        .cdx-quote {
            color: var(--secondary); 
            font-size: 50px; 
            font-weight: 600; 
            transform: translate(0px, 15px);
            display: inline-block;
        }
    }
}

.cdx-contact-form-1 {
    background-color: var(--white);
    padding: 32px 40px 40px;
    position: relative;
    @media #{$xs}{
        padding: 30px;
    }
    .cdx-title {
        font-size: 40px;
        margin-bottom: 20px;
    }
}


.cdx-contact-time {
    font-size: 130px;
    font-weight: 900;
    color: var(--gray-3);
    @media #{$lg}{
        font-size: 80px;
    }
}

.cdx-contact-inner {
    position: relative;
    .cdx-contact-time {
        position: absolute;
        right: -144px;
        top: -93px;
        @media #{$xxl}{
            right: 0px;
        }
        @media #{$lg}{
            right: -20px;
            top: -70px;
        }
    }
}