
/*--------------------------------------------
* CONTACT CSS THREE
--------------------------------------------*/
.cdx-contact-area-3 {
    position: relative;
    padding-left: 300px;
    padding-right: 60px;  
    background-color: #08163d;
    @media #{$xxl} {
        padding-left: 10px;
        padding-right: 10px;
    }
    @media #{$lg} {
       background-image: none !important;
    }
    .cdx-img-1 {
        position: absolute;
        bottom: 0%;
        right: 27%;
        @media #{$xl} {
            width: 30%;
            right: 32%; 
        }
        @media #{$lg} {
         display: none;
        }
    }
    .cdx-step-flow {
        max-width: 470px;
    }
    .cdx-section-title { 
        @media #{$xxxl} {
            padding-right: 30%;
        }
        @media #{$xxl} {
            font-size: 50px;
        }
        @media #{$sm} {
            font-size: 30px;
        }
    }
}

.cdx-form-style-2.cdx-style-3 {
    position: relative;
    z-index: 9; 
    box-shadow: 2px 29px 0px -10px #dddedf; 
}

// cdx-step-flow
.cdx-step-flow {
    display: grid;
    grid-template-columns: 55px auto;
    align-items: center;
    gap: 25px;
    margin-bottom: 80px; 
    position: relative;
    &:last-child {
        margin-bottom: 0px;
    }
    &:last-child::before {
        display: none;
    }
    &::before {
        position: absolute;
        width: 1px;
        height: 76px;
        bottom: -79px;
        left: 25px;
        border: 1px dashed rgba(255, 255, 255, 0.40);
        content: "";
    }
    .cdx-icon-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 54px;
        height: 54px;
        background-color: #ffffff10;
        border-radius: 50%;
        overflow: hidden;
    }
    .cdx-title {
        color: var(--white); 
        font-size: 18px; 
        font-weight: 700; 
        line-height: 1;
    }
    .cdx-text {
        color:rgba(255, 255, 255, 0.50);
        font-size: 16px;
        font-weight: 500; 
    } 
    .cdx-details {
        transform: translate(0px, 10px);
    }
}