/*--------------------------------------------
* PORTFOLIO CSS FIVE
--------------------------------------------*/
.cdx-portfolio-area-5 {
    .cdx-navigation-style-4 {
        position: absolute;
        top: 55%;
        left: 0%;
        .cdx-btn-navigation {
            background-color: var(--dark);
            .cdx-icon {
                filter: invert(1);
            }
            &:hover {
                .cdx-icon {
                    filter: brightness(0);
                }
            }
        }
    }
    .cdx-portfolio-prev-5 {
        transform: translate(-7px, 0px);
        @media #{$sm} {
            transform: translate(10px, 0px);
        }
    }
    .cdx-portfolio-next-5 {
        transform: translate(7px, 0px);
        @media #{$sm} {
            transform: translate(-10px, 0px);
        }
    } 
    
}
.cdx-portfolio-slider-5 {
    background-color: var(--green);
    border-radius: 20px; 
    .cdx-pagination-5 {
        position: absolute;
        left: 60px;
        bottom: 60px;
        z-index: 9;
        @media #{$md} {  
            left: 20px;
            bottom: auto; 
            top: 30px; 
        }
    }
}

.cdx-portfolio-item-5 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 90px;
    padding-right: 100px; 
     @media #{$lg} {
        gap: 30px;
        padding-right: 50px;
     }
    @media #{$md} {
        grid-template-columns: 1fr;
        gap: 40px; 
        padding-right: 0px;
    }
    .cdx-details {
        @media #{$md} { 
            padding: 0px 50px 40px 30px;
        }
    }
    .cdx-thumb-wrap {
        position: relative;
        &::before {
            position: absolute;
            bottom: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, rgba(3, 6, 17, 0.00) 24.78%, #03081B 100%);
            content: "";
        }
    }
    .cdx-thumb {
        width: 100%;
    }
    .cdx-title {
        color: var(--white); 
        font-size: 40px; 
        font-weight: 500; 
        display: inline-block;
        line-height: 1.3;
        transition: var(--transition);
        padding: 17px 0px 4px;
        &:hover {
            color: var(--primary);
        }
        @media #{$xl} {
            font-size: 30px;
        }
        @media #{$lg} {
            font-size: 20px;
        }
    }
    .cdx-text {
        color: var(--gray); 
        font-size: 16px; 
        font-weight: 500; 
        padding: 10px 0px 35px; 
        @media #{$lg} {
            padding: 0px 0px 20px; 
        }
    }
    
    .cdx-number-wrap {
        width: 80px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid rgba(255, 255, 255, 0.30); 
        border-radius: 50%;
    }
    .cdx-number {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--white);
        border-radius: 50%;
        color: var(--dark); 
        font-size: 20px; 
        font-weight: 500;   
    }
}

// cdx-pagination-style-4.
.cdx-pagination-style-4 {
    display: flex;
    gap: 10px;
    .swiper-pagination-bullet {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        background-color: var(--white);
        border-radius: 50%;
        color: var(--dark); 
        font-size: 13px; 
        font-weight: 600; 
        opacity: 1;
    }
}
.cdx-map-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 40px;
    background-color: var(--white);
    border-radius: 50%; 
}