/*--------------------------------------------
* PROCESS DETAIL CSS
--------------------------------------------*/
.cdx-project-overview {
    background-color: var(--sky-1);
    padding: 20px 0px;
    margin-bottom: 50px;
    @media #{$sm} {
        margin-bottom: 30px;
    }
    .cdx-overview-item {
        border-bottom: 1px solid rgba(17, 17, 17, 0.10);
        padding-bottom: 15px;
        margin-bottom: 10px;
        padding-left: 20px;
        &:last-child {
            padding-bottom: 0px;
            margin-bottom: 0px;
            border-bottom: 0px solid rgba(17, 17, 17, 0.10);
        }
    }
    .cdx-subtext {
        color: var(--gray); 
        font-size: 12px; 
        font-weight: 600; 
        padding-bottom: 10px;
    }
    .cdx-subtitle {
        color: var(--dark); 
        font-size: 14px; 
        font-weight: 600; 
    }
    .cdx-link {
        transition: var(--transition);
        &:hover {
            color: var(--primary);
        }
    }
}

.cdx-portfolio-detail-content {
    .cdx-section-title-lg {
        padding-bottom: 10px;
        font-family: var(--font-space-grotesk);
        @media #{$md} {
            padding-bottom: 5px;
        }
    }
    .cdx-section-content {
        padding-bottom: 30px;
        font-size: 18px;
        font-family: var(--font-space-grotesk);
        @media #{$md} {
            font-size: 16px;
            padding-bottom: 15px;
        }
    }
}