/*--------------------------------------------
* PORTFOLIO CSS TWO
--------------------------------------------*/
.cdx-portfolio-area-2 { 
    margin-left: 100px;
    margin-right: 100px;
    position: relative;
    z-index: 1;
    @media #{$xxl} {
        margin-left: 15px;
        margin-right: 15px;
    }
    @media #{$sm} {
       background-image: none !important;
       background-color: #0A4741;
    }
    &::before {
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(10, 71, 65, 0.00) 0%, #0A4741 100%);
        content: "";
        z-index: -1;
        @media #{$sm} {
            display: none;
        }
    }
}

.cdx-portfolio-card-2 { 
    padding: 50px 40px 0px 50px;
    border-right: 1px solid #ffffff20;
    transition: var(--transition);
    @media #{$xxl} {
        padding: 50px 30px 0px 30px;
    } 
    @media #{$md} {
        border-bottom: 1px solid #ffffff20;
    }
    &:hover {
        background: rgba(255, 255, 255, 0.06);
        backdrop-filter: blur(20px);
        border-right: 1px solid transparent;
        .cdx-btn-arrow-right-2 {
            background-color: var(--primary);
            color: var(--dark);
            .cdx-icon {
                filter: brightness(0);
            }
        }
    }
    .cdx-icon {
        transition: var(--transition);
    }
    .cdx-btn-arrow-right-2 {
        transition: var(--transition);
    }
    .cdx-number {
        color: var(--dark); 
        font-size: 20px; 
        font-weight: 500; 
        width: 50px;
        height: 50px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: var(--white);
        border-radius: 50%; 
        filter: drop-shadow(0px 8px 10px rgba(3, 6, 17, 0.24));
    }
    .cdx-details {
        padding-top: 200px;
        padding-bottom: 60px;
        @media #{$lg} {
            padding-top: 60px;
            padding-bottom: 30px;
        }
    }
    .cdx-category {
        color: var(--white); 
        font-size: 15px; 
        font-weight: 500; 
        background-color: var(--dark);
        display: inline-block;
        padding: 2px 14px;
        transition: var(--transition);
        &:hover {
            color: var(--dark);
            background-color: var(--primary);
        }
    }
    .cdx-title {
        color: var(--white); 
        font-size: 30px; 
        font-weight: 600; 
        display: inline-block;
        line-height: 1.2;
        padding: 17px 0px 38px;
        transition: var(--transition);
        @media #{$xxl} {
            font-size: 25px;
        }
        @media #{$lg} {
            font-size: 17px;
        }
        @media #{$md} {
            font-size: 24px;
        }
        &:hover {
            color: var(--primary);
        }
    }
}
