/*--------------------------------------------
* PROCESS CSS NINE
--------------------------------------------*/

.cdx-portfolio-area-9 { 
    padding-bottom: 210px; 
    @media #{$sm} {
         padding-bottom: 140px; 
    } 
    .cdx-navigation-style-7 { 
        width: 100%;
        position: absolute;
        top: 43%;
    }
}
.cdx-portfolio-item-9 {
    .cdx-thum-wrap {
        position: relative;
        transition: var(--transition);
        &:hover {
            .cdx-icon-wrap {
                top: 50%;
                visibility: visible;
                opacity: 1;
            }
        }
        &::before {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 0%;
            height: 0%; 
            background: linear-gradient(180deg, rgba(3, 65, 65, 0.00) 0%, var(--green) 100%);
            content: "";
            visibility: hidden;
            border-radius: 50%;
            opacity: 0;
            transition: var(--transition);
        }
        &:hover::before {
            width: 100%;
            height: 100%;
            visibility: visible;
            opacity: 1;
            border-radius: 0%;
        }
    }
    .cdx-thumb {
        width: 100%;
    }
    .cdx-icon-wrap {
        width: 70px;
        height: 70px;
        background-color: var(--white);
        border-radius: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 9;
        visibility: hidden;
        opacity: 0;
        transition: var(--transition);
    }
    .cdx-meta-wrap {
        display: flex;
        align-items: center;
        gap: 10px;
        border-bottom: 1px solid #C9C8C8;
        padding: 20px 0px;
        margin-bottom: 15px;
    }
    .cdx-meta-list {
        color: #808589;
        font-size: 14px;
        font-weight: 500;
        border: 1px solid #C9C8C8;
        padding: 3px 20px 3px 30px;
        position: relative;
        &::before {
            position: absolute;
            top: 40%;
            left: 20px;
            width: 4px;
            height: 4px;
            background-color: #808589;
            border-radius: 100px;
            content: "";
        }
    }
    .cdx-title-wrap {
        display: grid;
        grid-template-columns: 50px auto;
        gap: 14px;
        align-items: center;
    }
    .cdx-count {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        background-color: #03061106;
        border-radius: 100%;
        color: #030611;
        font-size: 18px;
        font-weight: 600;
    }

    .cdx-title {
        color: #030611;
        font-size: 22px;
        font-weight: 500;
        display: inline-block;
        line-height: 1.3;
        transform: var(--transition);
        @media #{$lg} {
            font-size: 18px;
        }
        &:hover {
            color: var(--primary);
        }
    }
}

 .cdx-navigation-style-7 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 43%;
    .cdx-btn-navigation {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--green);
        border-radius: 100px;
        transition: var(--transition);
        position: relative;
        z-index: 9;
        .cdx-icon {
                transition: var(--transition);
        }
        &:hover {
            background-color: #FDFF30;
            .cdx-icon {
                filter: brightness(0);
            }
        }
        &:nth-child(1) {
            left: -25px;
        } 
    }
}
