/*--------------------------------------------
* PORTFOLIO CSS THREE
--------------------------------------------*/
.cdx-portfolio-area-3 { 
    background-color: #F2EFE8; 
    padding-left: 155px;
    position: relative;
    @media #{$xxxl} {
        padding-right: 30%;
    }
    @media #{$sm} {
        padding-left: 15px;
        padding-right: 15px;
    }
    &::before {
        position: absolute;
        top: 0%;
        left: 160px;
        width: 1px;
        height: 100%;
        background-color: #03061120;
        content: "";
        @media #{$sm} {
            display: none;
        }
    }
    .cdx-title-left {
        color: var(--dark);
        font-size: 150px;
        font-weight: 800;
        line-height: 1;
        display: inline-block;
        transform: rotate(-90deg);
        opacity: 0.05;
        position: absolute;
        left: -20%;
        top: 41%;
        @media #{$xxxl} {
            left: -15%;
        }
        @media #{$xxl} {
            font-size: 100px;
            left: -18%;
        }
        @media #{$lg} {
            font-size: 75px;
        }
        @media #{$sm} {
            display: none;
        }
    }
}

.cdx-portfolio-slider-3 {
    padding-bottom: 50px;  
}

.cdx-portfolio-style-3 {
    display: grid;
    grid-template-columns: 345px auto;
    @media #{$xxxl} {
        height: 800px;
    }
    @media #{$xxl} {
        height: 700px;
    }
    @media #{$xl} {
        height: 600px;
    }
    @media #{$lg} {
        grid-template-columns: 255px auto;
    }
    @media #{$sm} {
        grid-template-columns: 1fr;
        height: auto; 
    }
    .cdx-tab-btn-wrap {
        padding-top: 230px;
        @media #{$xl} {
         padding-top: 160px;
        }
        @media #{$sm} {
            padding-top: 60px;
        }
        .cdx-btn-primary {
            margin-top: 55px;
            margin-left: 5px;
            @media #{$xl} {
                margin-top: 20px;
            }
        }
    }
    .cdx-portfolio-tab-content {
        padding: 120px 0px 170px;
        overflow: hidden; 
        @media #{$md} {
            padding: 60px 0px 170px;
        }
        @media #{$sm} {
            padding: 60px 0px 60px;
        }
    }
    .cdx-tab-pane {
        display: none;
        opacity: 0;
        transition: all 0.8s;
    }
    .cdx-tab-pane.show {
        display: block;
        opacity: 1;
    } 
    .cdx-tab-btn {
        display: inline-flex;
        align-items: center;
        gap: 24px;
        color: var(--gray); 
        font-size: 15px; 
        font-weight: 500; 
        transition: var(--transition); 
        padding-bottom: 30px;
        text-align: left; 
        &:hover {
           color: var(--dark);
           text-decoration: underline;
           text-underline-offset: 5px; 
        }
        @media #{$sm} {
            padding-bottom: 15px;
        }
    }
}

.cdx-portfolio-item-3 { 
    position: relative;
    overflow: hidden;
    transition: var(--transition);
    &:hover {
        .cdx-btn-portfolio { 
            opacity: 1;
            visibility: visible;
        }
    }
    &:hover::after { 
       height: 100%;
    } 
    &::before {
        position: absolute;
        bottom: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(3, 6, 17, 0.00) 24.78%, #03081B 100%);
        content: "";
        transition: var(--transition);
    }
    &::after {
        position: absolute;
        bottom: 0%;
        left: 0%;
        width: 100%;
        height: 0%;
        background: linear-gradient(180deg, rgba(3, 6, 17, 0.00) 24.78%, #1133AD 100%);
        content: "";
        transition: var(--transition); 
    } 
    .cdx-thumb {
        @media #{$sm} { 
            width: 100%;
        }
    }
    .cdx-details {
        position: absolute;
        bottom: 60px;
        left: 60px;
        z-index: 9;
    }
    .cdx-btn-portfolio { 
        position: absolute;
        top: -36px;
        right: -36px; 
        width: 140px;
        height: 140px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--primary);   
        border-radius: 50%;   
        transition: var(--transition);
        opacity: 0;
        visibility: hidden;
        z-index: 99;
        &:hover {
            background-color: var(--dark);
            .cdx-icon {
                filter: invert(1);
            }
        }
        .cdx-icon {
          transition: var(--transition);
          transform: translate(-13px, 13px);
        }
    }
    .cdx-title {
        color: var(--white);  
        font-size: 30px; 
        font-weight: 600; 
        display: inline-block;
        line-height: 1.3;
        transition: var(--transition);
        padding-right: 30px;
        padding-top: 15px;
        &:hover {
            color: var(--primary);
        }
        @media #{$xxl} {
         font-size: 20px;
        }
    }
    .cdx-number-wrap {
        width: 80px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid rgba(255, 255, 255, 0.30); 
        border-radius: 50%;
    }
    .cdx-number {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--white);
        border-radius: 50%;
        color: var(--dark); 
        font-size: 20px; 
        font-weight: 500;   
    }
}

.swiper-pagination-progressbar {
    bottom: 0px;
    top: auto !important;
    height: 2px !important;
}
.cdx-progress-bar { 
    .swiper-pagination-progressbar-fill {
        background-color: var(--dark) !important; 
    }
}
