/*--------------------------------------------
* PORTFOLIO CSS FOUR
--------------------------------------------*/
.cdx-portfolio-area-4 {
    padding-left: 300px;
    position: relative;
    @media #{$xxl} {
        padding-left: 20px; 
    }
    @media #{$sm} {
        padding-left: 15px;
        padding-right: 15px;
    }
    &::before {
        position: absolute;
        top: 0%;
        left: 0%; 
        width: 73%;
        height: 100%;
        background-color: var(--green-2);
        content: "";
        @media #{$xxl} {
            width: 65%;
        }
        @media #{$sm} {
            display: none;
        }
    }
    .cdx-navigation-style-8 { 
        transform: translate(80px, 70px);
        @media #{$xxl} {
            transform: translate(80px, 20px);
        }
        @media #{$sm} {
            transform: translate(0px, 0px);
        }
    }
}

.cdx-portfolio-item-4 {
    border: 1px solid rgba(255, 255, 255, 0.14); 
    .cdx-details {
        padding: 30px 45px 55px 30px;
    }
    .cdx-thumb {
        width: 100%;
    }
    .cdx-category {
        background-color: var(--primary);
        padding: 3px 9px;
        color: var(--dark);  
        font-size: 14px; 
        font-weight: 500; 
        display: inline-block;
        margin-bottom: 25px;
    }
    .cdx-title {
        color: var(--white); 
        font-size: 20px; 
        font-weight: 500; 
        display: inline-block;
        line-height: 1.3;
        transition: var(--transition);
        &:hover {
            color: var(--primary);
        }
    }
    .cdx-text {
        color: var(--gray); 
        font-size: 16px; 
        font-weight: 500; 
        padding: 10px 0px 26px; 
    }
}