/*--------------------------------------------
* HEADER CSS SIX
--------------------------------------------*/
.cdx-navbar-area-6 {
    position: relative;
    z-index: 99;
    .navbar{
        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, 0.5);
    }
    .cdx-nav-hamburger-btn-2{
        background-color: transparent;
        border-left: 1px solid rgba(255, 255, 255, 0.5);
    }
 
}


