/*--------------------------------------------
* HEADER CSS EIGHT
--------------------------------------------*/
.cdx-navbar-style-8 {
    background-color: var(--marine) !important;
    .cdx-btn-arrow-right-3{
background-color: var(--white);
    }
      
}
.cdx-menu-style-8{
    color: var(--gray);
}

