
/*--------------------------------------------
* HEADER CSS TEN
--------------------------------------------*/
.cdx-sidebar-menu {
    background-color: #D2CCB4;
    height: 100%;  
    overflow: hidden;
}

.cdx-sidebar-inner {
    position: fixed;
    top: 40px;
    left: 0px; 
    @media #{$sm} { 
       position: unset;
    }
}

// Menu style 
.cdx-logo-main {
    border-bottom: 1px solid rgba(3, 6, 17, 0.062745098); 
    width: 318px;
    padding: 0px 20px 40px 40px; 
    @media #{$xxl} {
        width: auto;
        border-bottom: 0px solid rgba(3, 6, 17, 0.062745098); 
    }
    @media #{$md} { 
        padding: 0px 20px 20px 15px; 
        width: auto;
    }
    @media #{$sm} { 
        padding: 0px; 
        border-bottom: 0px solid rgba(3, 6, 17, 0.062745098);  
    }
}

//Mobile menu 
.cdx-mobile-menu {
    @media #{$sm} {  
        padding: 20px 15px;
    }
}

// Sidebar cdx-main style 
.cdx-main-wrap-10 {  
    background-color: #DBD9D1;
    height: 100%; 
}

// Menu style 
.cdx-nav-menu-10 {
    margin: 0px 40px;
    padding-top: 100px;
    width: 100%;
    @media #{$xxl} {
      padding-top: 40px;  
      width: 95%;
    }
    @media #{$xl} {
        width: 85%;
    }
    @media #{$lg} {
        width: 100%;
    }
    @media #{$md} { 
        margin: 0px 15px;
        padding-top: 30px;  
        width: 160px;
    }
    @media #{$sm} { 
        display: none;
    }
    .navbar-nav{
        width: 100%;
        gap: 0;
    }
    .cdx-menu-link {
        color: var(--dark); 
        font-size: 16px; 
        font-weight: 500;  
        &:hover {
            color: #FE7535;
        }
    }
    .cdx-menu-item {
        padding-bottom: 30px;
        cursor: pointer; 
        display: block;
        width: 100%;
    
    }
    .cdx-sub-menu {
        transition: all 0.8s;
        padding: 15px;  
        display: none;
        height: 0px;
        opacity: 0;
        transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
        li {
            a {
                color: var(--dark); 
                font-size: 15px; 
                font-weight: 500;  
                padding-bottom: 5px;
                display: inline-block;
                &:hover {
                    color: #FE7535;
                }
            }
        }
    }   
    .cdx-has-children {
        background-image: url(../images/home-10/icon/plus.png);
        background-repeat: no-repeat;
        background-position: 65% 19%;
    }
}

.cdx-social-title {
    color: var(--dark);  
    font-size: 16px; 
    font-weight: 500; 
    padding-bottom: 10px;
    display: inline-block;
}

// Social style

.cdx-social-box { 
    border-top: 1px solid rgba(3, 6, 17, 0.062745098);
    border-bottom: 1px solid rgba(3, 6, 17, 0.062745098);
    padding: 40px 0px 40px 40px;
    margin-top: 60%;
    width: 318px;
    @media #{$xxl} {
        margin-top: 12%; 
        border-top: 0px solid rgba(3, 6, 17, 0.062745098);
        border-bottom: 0px solid rgba(3, 6, 17, 0.062745098);
        width: auto;
    }
    @media #{$md} { 
        padding: 20px 15px; 
         margin-top: 12%; 
    }
    @media #{$sm} { 
        display: none;
    }
}
.cdx-social-wrap-10 {
    .cdx-social-link {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--white);
        box-shadow: 0px 4px 3px 0px rgba(30, 30, 47, 0.12);
        transition: var(--transition); 
        &:hover {
            background-color: #F7C600;
            box-shadow: 0px;
        }
    }
}

@media only screen and (min-width: 1280px) and (max-width: 1399px) {
    .cdx-w-20 {
        width: 20%;
    }
    .cdx-w_80 {
        width: 79%;
    }
    .cdx-logo-main {
        width: 250px;
    }
}
