/*--------------------------------------------
* NAVBAR CSS
--------------------------------------------*/
 .navbar-nav{
    display: inline-flex;
    align-items: center;  
    gap: 65px;
    @media #{$xl} {
        gap: 50px; 
    }
    .cdx-menu-item{
        position: relative;  
    }
    .cdx-menu-item-has-children {
        position: relative;
        z-index: 0;
        &:after{
            position: absolute;
            right: -15px;
            top: 8px;
            content: ""; 
            background-image: url(../images/icons/arrow-down.svg);
            width: 10px;
            height: 10px;
            background-repeat: no-repeat;
            transition: all 0.4s ease;
        }
        &:hover > .cdx-sub-menu {
            visibility: visible;
            opacity: 1;
            top: 100%;
            transform: scaleY(1);
        }
        .cdx-sub-menu{
            position: absolute;
            text-align: left;
            min-width: 230px;
            margin: 0;
            padding: 0;
            list-style: none;
            left: 0;
            top: 100%;
            box-shadow: 0 0 15px 0 rgba(#000,.05);
            background-color: #ffffff;
            z-index: 99;
            overflow: hidden;
            visibility: hidden;
            opacity: 0;
            transition: all 0.4s ease;
            border-radius: 0;
            transform: scaleY(0);
            transform-origin: top center;
            &.border-bt0 {
                border-bottom: 0px !important;
            }
            li{
                display: block;
                margin-left: 0;
                line-height: 22px;
                font-size: 15px;
                transition: all 0.4s ease;
                border-bottom: 1px solid #f5f5f5;
                a{
                    display: block;
                    padding: 11px 20px;
                    white-space: nowrap;
                    transition: all .3s;
                    color: var(--dark);
                    font-size: 15px;
                    font-weight: 500;
                    transition: all 0.4s ease;
                    position: relative;
                }
                &:hover {
                    a {
                        color: var(--primary);
                        letter-spacing: 1px;
                    }
                }
                &:last-child {
                    border-bottom: 0;
                }
            } 
        } 
    }
    .cdx-menu-link {
        color: var(--gray);
        font-weight: 500;
        font-size: 16px; 
        &:hover {
            color: var(--white);
        }
    } 
}

//nav-right-part
.cdx-nav-right-part {
    .cdx-nav-search-btn {
        line-height: 59px;
        .cdx-search-icon {
            height: 25px;
            width: 25px;
            cursor: pointer;
        }
        .cdx-search-close {
            height: 25px;
            width: 25px;
            display: none;
            cursor: pointer;
        }
    }
}

.cdx-search-form {
    position: absolute;
    width: 300px;
    top: 50px;
    right: 0px;
    padding: 12px;
    background-color: #f5f5f5;
    border-radius: 3px;
    z-index: 4;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s ease;
    input {
        width: 100%;
        padding: 10px;
        border: 1px solid var(--white-2);
        border-radius: 5px;
        outline: none;
        font-size: 16px;
        font-weight: 400;
    }
    &.cdx-open-search {
        opacity: 1;
        visibility: visible;
    }
}