.cdx-navbar-top-1 {
    background-color: var(--dark);
    padding: 10px 0;
    .cdx-social-info {
        margin: 0;
        padding: 0;
        li {
            display: inline-flex;
            list-style: none;
            align-items: center;
            border-left: 1px solid var(--dark-4);
            padding-left: 30px;
            margin-left: 30px;
            img {
                margin-right: 10px;
            }
            p {
                margin-bottom: 0;
            }
            &:first-child {
                margin-left: 0;
            }
        }
    }
}