/*--------------------------------------------
* VIDEO CSS TWO
--------------------------------------------*/
.cdx-video-box-2 { 
    position: relative;
    padding: 0px 0px 25px;
    background-repeat: no-repeat;
    background-size: cover;
    &::before {
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(10, 71, 65, 0.00) 0%, #0A4741 100%);
        content: "";  
    }
    .cdx-video-btn-wrap {
        padding: 224px 0px 110px;
        @media #{$md} {
            padding: 133px 0px 20px;
        }
    }
    .cdx-text {
        color: var(--primary); 
        font-size: 20px; 
        font-weight: 500; 
        border-top: 1px solid rgba(255, 255, 255, 0.50);
        padding-top: 15px;
        text-align: center;
        position: relative;
        z-index: 9;
    }
}

.cdx-video-btn-2{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    border-radius: 50%;
    width: 110px;
    height: 110px;
}