/*--------------------------------------------
* FOOTER CSS EIGHT
--------------------------------------------*/

.cdx-footer-area-8 {
    position: relative;
    background-color: var(--dark);
    .cdx-footer-bottom {
        background-color: transparent;
        border-top: 1px solid rgba(255, 255, 255, 0.08);
    }
    .cdx-title {
        padding-left: 145px;
        color: rgba(255, 255, 255, 0.10);
        font-size: 250px;
        font-weight: 900;
        text-transform: uppercase;
        @media #{$xl} {
            font-size: 195px;  
        }
        @media #{$lg} {
            padding: 0;
            font-size: 160px;
        }
        @media #{$md} {
            font-size: 120px;
        }
    }
    .cdx-style-8 {
        padding-left: 145px;
        @media #{$lg} {
            padding-left: 0;
            
        }
    }
    .cdx-footer-widget{
        padding-top: 60px;
        padding-bottom: 60px;
        height: 100%;
    }
    .cdx-footer-top{
        border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    }
    .cdx-border-right{
        border-right: 1px solid rgba(255, 255, 255, 0.10);
    @media #{$md} {
        border: none;
    }
    }
    .cdx-border-left{
        border-left: 1px solid rgba(255, 255, 255, 0.10);
        @media #{$md} {
            border: none;
        }
    }
    .cdx-footer-bottom{
        padding: 0 120px;
    }
}
.cdx-term-condition {
    font-size: 14px;
    font-weight: 400;
    color:  rgba(255, 255, 255, 0.3764705882);
    &:hover{
        color: var(--primary);
    }
}


