/*--------------------------------------------
* CLIENT CSS ONE
--------------------------------------------*/
.cdx-client-slider-wrap {
    position: relative; 
    .cdx-navigation-style-5 {
       position: absolute;
       top: 37%; 
    }
    .cdx-client-prev {
        transform: translate(-24px, 0px);
        padding-left: 4px;
    }
    .cdx-client-next {
        transform: translate(25px, 0px);
    }
}

.cdx-client-slider {
    padding-right: 27px;
    @media #{$lg} {
        padding-right: 2px;
    }
}
.cdx-client-logo {
    border: 1px solid rgba(3, 6, 17, 0.062745098);
    border-right: 0px solid rgba(3, 6, 17, 0.062745098);
    padding: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px; 
}