/*--------------------------------------------
* PROCESS CSS THREE
--------------------------------------------*/

.cdx-process-item-3 {
    display: inline-flex;
    gap: 10px;
    background-color: var(--white);
    box-shadow: 10px 10px 0px 0px rgba(3, 6, 17, 0.06);
    padding: 30px;
    .cdx-number {
        color: var(--dark); 
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    .cdx-title {
        color: var(--dark); 
        font-size: 20px; 
        font-weight: 500; 
        line-height: 1.3;  
    }
    .cdx-text {
        color: rgba(18, 19, 20, 0.60); 
        font-size: 16px; 
        font-weight: 500; 
    }
    .cdx-line {
        display: inline-block;
        background-color: var(--primary);
        width: 24px;
        height: 3px;
        margin-top: 11px;
    }
}