/*--------------------------------------------
* PROCESS CSS SIX
--------------------------------------------*/
.cdx-process-area-6 {
    padding: 450px 0 120px;
    background-color: var(--yellow-2);
    margin-top: -280px;
    padding-left: auto;
    
}
