/*--------------------------------------------
* PROCESS CSS FiVE
--------------------------------------------*/
.cdx-process-area-5 {
    .cdx-image {
        position: absolute;
        z-index: -1;
        right: -318px;
        top: 120px;
        padding-right: 12px;
        max-width: none;

        @media #{$xl} {
            padding-right: 12px;
            right: -428px;


        }

        @media #{$lg} {
            right: -510px;
            padding-right: 12px;

        }
    }
    .cdx-items-wrap-2 {
        position: absolute;
        z-index: -2;
        @media #{$md} {
            position: relative;

        }
    }
    
}

.cdx-about-image-wrap{
    mask-repeat: no-repeat;
    mask-size: 100%;
}

.cdx-more-details-btn{
    display: flex;
    justify-content: center;
    .cdx-details {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        background-color: #082932;
        padding: 10px 25px;
        .cdx-title {
            color: var(--gray);
            font-size: 16px;
            font-weight: 500;
            line-height: 26px;
            margin: 0;
        }

    }
}

.cdx-items-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 360px;
    background-color: #071D26;
    float: right;
    @media #{$sm} {
        max-width: none;
    }
    .cdx-icon {
        padding-top: 70px;
        padding-bottom: 30px;
    }
    .cdx-item {
        padding: 0 70px 0 35px;
        padding-bottom: 40px;
        border: 1px solid var(--gray);
    }
    .cdx-title {
        color: var(--white);
        font-size: 20px;
        font-weight: 500;
    }
    .cdx-description {
        padding: 0;
        font-size: 16px;
        font-weight: 500;
        line-height: 26px;
        color: var(--gray);
    }
}
.bg-image{
    background-image: url(../../../../assets/images/home-6/process/shape/shape-item.webp);
    @media #{$md} {
        background-image: none;
    }
  
}