/*--------------------------------------------
* PROCESS CSS ONE
--------------------------------------------*/

.cdx-process-area-1 {
    margin-bottom: -100px;
    @media #{$sm} {
        margin-bottom: -50px;
    }
    .cdx-section-title { 
        font-size: 40px; 
        @media #{$lg} {
            font-size: 30px;
        }
        @media #{$sm} {
            text-align: center;
        }
    }
}

.cdx-process-item {
    margin-bottom: 30px;
    .cdx-icon {
        border-bottom: 1px solid var(--gray-5);
        padding-bottom: 30px;
        margin-bottom: 25px;
    }
    .cdx-details {
        padding-right: 50px;
        @media #{$lg} {
            padding-right: 0px;
        }
    }
    .cdx-title {
        color: var(--dark); 
        font-size: 20px; 
        font-weight: 500; 
        @media #{$lg} {
            font-size: 18px;
        }
    }
    .cdx-description {
        color: var(--gray); 
        font-size: 16px; 
        font-weight: 500; 
         @media #{$lg} {
            font-size: 15px;
         }
    }
}