/*--------------------------------------------
* SUBSCRIBE CSS TWO
--------------------------------------------*/
.cdx-subscribe-area-2 {
    background: linear-gradient(90deg, #1CE2EF30, #14AD1140); 
    margin-right: 300px;
    padding-left: 300px;
    border-radius: 0px 10px 10px 0px;
    @media #{$xxl} {
        margin-right: 180px;
        padding-left: 0px;
    }
    @media #{$lg} {
        margin-right: 0px;
    }
    @media #{$sm} { 
        padding: 60px 0px 40px;
    }
}

.cdx-icon-box-3 {
    padding: 20px 40px;
    background-color: var(--primary);
    position: relative;
    .cdx-icon-wrap {
        width: 46px;
        height: 46px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--white);
        border-radius: 50%; 
        margin-bottom: 8px;
        filter: drop-shadow(0px 2px 6px rgba(17, 16, 19, 0.14));
    }
    .cdx-icon-wrap-sm {
        width: 34px;
        height: 34px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--white);
        border-radius: 50%;
        filter: drop-shadow(0px 2px 6px rgba(17, 16, 19, 0.14));
        position: absolute;
        top: 16px;
        right: 16px; 
    }
    .cdx-title {
        color: rgba(18, 19, 20, 0.60); 
        font-size: 13px; 
        font-weight: 500; 
    }
    .cdx-link {
        color: var(--dark); 
        font-size: 20px; 
        font-weight: 500; 
        transition: var(--transition);
        &:hover {
            color: var(--white);
        }
    }
}

.cdx-newsletter-form-2 {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 60px;
    padding-right: 50px;
    @media #{$xl} { 
        padding-left: 0px;
        padding-right: 0px;
    }
    @media #{$lg} {
        flex-wrap: wrap; 
        padding: 20px 0px;
    }
    .cdx-form-block {
        width: 100%;
    }
    .cdx-input {
        color: #030611; 
        display: block;
        width: 100%;
        border: 0;
        outline: 0;
        border-radius: 100px;
        background-color: var(--white);
        box-shadow: 6px 6px 4px 0px rgba(18, 16, 16, 0.10);
        padding: 13px 20px;
        text-transform: capitalize;
        &::placeholder {
            color: #03061150; 
            font-size: 15px; 
            font-weight: 400; 
        }
        &:focus {
            outline: 0;
            border: 0;
        }
    }
}

.cdx-newsletter-form-3 { 
    background-color: var(--white);
    border-radius: 100px;
    display: inline-flex;
    overflow: hidden;
    .cdx-input {
        color: #030611; 
        display: block;
        width: 100%;
        border: 0;
        outline: 0;
        border-radius: 100px;
        background-color: transparent; 
        padding: 13px 20px;
        text-transform: capitalize;
        &::placeholder {
            color: #03061150; 
            font-size: 15px; 
            font-weight: 400; 
        }
        &:focus {
            outline: 0;
            border: 0;
        }
    }
    .cdx-btn-primary { 
        padding: 14px 45px;
    }
}